<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
	
		<div ng-include='"templates/side_template.html"' ></div>
			<div class="col-xs-9" style='font-family:; border:0px solid;'>
					
						<!-- <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF;'> -->
  							
		  						<div class="container col-xs-12" style='border:0px solid;' >
								 
								  <ul class="nav nav-tabs">
								  	

								<li><a data-toggle="" href="/profile/messages"><span class='glyphicon glyphicon-arrow-left'></span>
								    	Back to Inbox</a></li>
								  	<li  class="active"><a data-toggle="" href="#">
								  		<span class='glyphicon glyphicon-arrow-right'></span>
								  		<font style='color:#A4A4A4; margin-left:5px;'><b id='labelUsername'>{{chat_user}}
								  		</b></font></a></li>

								 </ul>

								  <div class="tab-content" style='border:0px solid;'>
								    <div id="compose" class="tab-pane fade in active" 
								    style='background-color:#FFFFFF; border:0px solid; padding:0px;'>
								    			<div class='row' style='border:0px solid;'>
								    				<div class='col-xs-1'>
								    				</div>
								  				 <div class='col-xs-7' style='padding-top:10px; background-color:#ffffff; border:0px solid;'>
								   					<font style='font-size:12px; color:#a4a4a4;'>Conversations with {{chat_fullName}}</font>
								   				</div>
								   				
								   				<div class='col-xs-3' style='padding-top:5px; padding-bottom:10px; background-color:#ffffff; border:0px solid;'
								   					align='right'>
								   					
								   					<!-- <font style='font-size:12px;'><a href='#' id='selectAll' style='margin-left:40px; margin-right:5px;
								   						text-decoration:none;'>Select all</a> | 
								   					 <a  id='deSelectAll'href='#' style='margin-left:5px; 
								   					 text-decoration:none; margin-right:30px;'>Deselect all</a> </font> -->
								   					 <!-- <input type='checkbox' style='height:12px; border:1px solid';> -->
								   					<button id='btnManage' ng-click='btnManage()' style='font-size:12px;  margin-right:15px;'><b>Manage messages</b></button>
								   					 

								   					<!-- <font id='lblDelete' style='font-size:12px; border:1px solid #d8d8d8; padding-left:10px;
								   					padding-right:10px; '><a href='#' style='text-decoration:none;'>Delete</a></font> -->
								   					
								   				</div>
								   				<div class='col-xs-1'></div>

								   			
								   				</div>
								   				
								   			<div id='scrollDiv' scroll-glue="!!glued" class='col-xs-12' style='border:0px solid;  background-color:#ffffff;
								   			height:290px; overflow:scroll; overflow-x: hidden; padding-top:10px;'>
								   				
								   				
								    			<div class='col-xs-12' style='border:0px solid; padding:10px; padding-top:0px'>
								    			<table style='border:0px solid; width:100%;' id='convoQuery'>
												

									    		<!-- <tr height='30px;' style='border-top:1px solid #F2F2F2;'>
								    			<td rowspan='2' style='width:40px; vertical-align:top; padding-top:10px;'>
										    		<img src='img/primaryLogo.png'
										    		 style='border:1px solid; height:30px; width:30px; margin-right:0px;'><img>
								    			</td>
								    			<td>
								    				<a href='#'><b><font style='font-size:14px'>verinvelmer26</font></b></a>
								    			</td>
								    			<td align='right'>
								    					<font style='font-size:13px; color:#6E6E6E;'>7:30 am on July 11, 2016</font>
								    			</td>
								    			</tr>
									    		<tr>
									    			<td style='color:#6E6E6E;' colspan='2'><font style='font-size:12px;'>di ayaw ko</font></td>
									    		</tr> -->
									    	
									    		<tr ng-repeat-start="item in msg_convo"  height='30px;' style='border-top:1px solid #F2F2F2;'>
													    			<td rowspan='2' style='width:40px; vertical-align:top; padding-top:10px;'> 
															    		<img src="
										    		{{item.msg_from.username === userInfo.username ? item.msg_from.user_avatar:''}}
								    				{{item.msg_to.username === userInfo.username ? item.msg_from.user_avatar:''}}"
															    		 style='border:1px solid; height:30px; width:30px; margin-right:0px;'></img>
													    			</td>
								    			<td><b><font style="font-size:14px; color:
								    				{{item.msg_from.username === userInfo.username ? '':'red'}}
								    				{{item.msg_to.username === userInfo.username ? '':'blue'}}
								    				;">
								    				{{item.msg_from.username === userInfo.username ? '':item.msg_from.username}}
								    				{{item.msg_to.username === userInfo.username ? '':'You'}}
								    			</font></b></td>
													    			<td align='right'>
													    					<font style='font-size:13px; color:#6E6E6E;'> 
													    						{{convertToTime(item.msg_dateTime)}} -
													    						{{convertToDate(item.msg_dateTime)}}</font>
													    			</td>

									    				<td align='center' style="display:{{manageChat === 1 ? 'block' : 'none'}};
									    						padding-left:20px; padding-right:20px;" > 
										    				<input id='{{item._id}}' 
										    				type='checkbox'  ng-model="item.checkBox" 
										    								ng-init="item.checkBox=false" >
										    			   </input></td>

													    			</tr>
								    			<tr ng-repeat-end >
														    			<td style='color:#6E6E6E;' colspan='2'><font style='font-size:12px;'>{{item.msg_text}}   
														    		
														    			</font></td>
													    			
												</tr >
												

												
									    		
											</table>
											
							
								    		<script>
														function tConvert (time) {
											 			 // Check correct time format and split into components
													  time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

													  if (time.length > 1) { // If time format correct
													    time = time.slice (1);  // Remove full string match value
													    time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
													    time[0] = +time[0] % 12 || 12; // Adjust hours
													  }
													  return time.join (''); // return adjusted time or original string
													}

											</script>
								    
									    	</div>
									    </div>
										  	<div id='manageFooter'class='col-xs-12' style='border:0px solid; width:100%; background-color:#E6E6E6;'>
											  		<div style="display:{{manageChat === 0 ? 'block' : 'none'}};" >
											  	    	 <div class='col-xs-9' style='border-top:0px solid; padding-left:00px' >
												  		<input ng-model='inputMessage'  my-enter="sendFunc()"  style='width:100%; height:50px; margin-bottom:10px; margin-top:10px;'
												  		 placeholder=' Type message here..'></input>
													 	 </div>
													  	<div class='col-xs-3' style='border:0px solid'>
													  	 <button ng-click='sendFunc()' class='btn btn-default' style='width:90%; 
													  	 height:50px; margin-top:10px;'><center>Send<br><font style='font-size:12px; color:#a4a4a4'>Enter</font>
													  	 </center></button>
													  	</div>
													  	<div class='col-xs-0' style='border:0px solid'>
													  		
														</div>	
													</div>
													<div style="display:{{manageChat === 1 ? 'block' : 'none'}};">
														<div class='col-xs-3' style='border-top:0px solid;'></div>
														<div class='col-xs-6' style='border-top:0px solid; padding-top:5px; 
														padding-bottom:10px'>
												  			<b>Select messages to delete</b> <span style='margin-right:20px;'></span>
												  			<button id='btnCancel' ng-click='btnManage()' class='btn btn-sm btn-default'>Cancel</button>
												  			<span style='margin-right:5px;'></span>
												  			<button id='btnDelete' ng-click='btnDelete()' class='btn btn-sm btn-danger'>Delete</button>
												  		 </div>
													  	<div class='col-xs-3' style='border-top:0px solid; padding-top:5px; ' align='right'>
															Select: <span style='margin-right:5px;'></span>
												  			<span id='selectAll' ng-click='selectAll()' style='cursor:default'; class='label label-default'>All</span> 
												  			<span id='deSelectAll' ng-click='deselectAll()' style='cursor:default'; class='label label-default'>None</span> 
														</div>
														
													  	<div class='col-xs-0' style='border:0px solid'></div>
															

													</div>

												
							 		   </div>

									




								</div>
								
							</div>
  						
  						<!-- </div> -->
  						
  					</div>
  						 <div class="col-xs-12" style=' margin-top:10px;'></div>

					</div>