<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
	
		<div ng-include='"templates/side_template.html"' ></div>
			<div class="col-xs-9" style='font-family:; border:0px solid;'>
					
						<!-- <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF;'> -->
  							
		  						<div class="container col-xs-12" style='border:0px solid;' >
								 
								  <ul class="nav nav-tabs">
								    <li  class="active"><a data-toggle="" href="/profile/create">
								    	<span class='glyphicon glyphicon-comment'></span>
								    	New Message</a></li>
								  	<li><a data-toggle="inbox.php" href="/profile/messages">
								  		<span class='glyphicon glyphicon-briefcase'></span>
								  		Inbox</a></li>
								  
								  </ul>

								  <div class="tab-content" >
								    <div id="compose" class="tab-pane fade in active" style='background-color:#FFFFFF; 
								    border:0px solid; padding:10px;' align=''>
								   		<div class='row' style='border:0px solid; padding-right:50px;' align='right' >
								   				<input id='toggleFriends' type='checkbox'></input> Toggle friends list
								   		</div>

								    		<hr style='margin-top:0px;'>
								    		<div class='row'>

								    				<div id='col1' class='col-xs-12' style='border:0px solid;'>
											      		<table style='margin-top:00px; width:95%;'>
											      			<tr>
											    				<td></td><td style='border:0px solid; background-color:'>
											    				<center><span>
								    						<font id='sendStatus' style='color:#01DF3A;'>
								    							</font> 
										    						</span>
											    				</center>
											    				</td>
											    			</tr>
											    			<tr>
											    				<td rowspan='2'  
											    				style='padding-right:10px; width:10%; padding-left:20px;'><font style='color:#6E6E6E;'>To:</font></td>
											    				<td>
																<div class="input-group" style='width:100%;'>
											                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>

											                   <input id='inputUsername' value='123' type='text' class='form-control' placeholder='Username'>
															
											                   
											                    
											                </div></td>
											    			</tr>
											    			<tr>
											    			<td><i><font style='font-size:13px; color:#6E6E6E;'>
											    				</font></i></td>
															</tr>
											    			<tr>
											    				<td rowspan='2'  
											    				style='padding-right:10px; width:10%; padding-left:20px;'><font style='color:#6E6E6E;'>Message:</font></td>
											    				<td><textarea id='inputMessage' style='height:200px; margin-top:10px; width:100%;'></textarea></td>
											    			</tr>
											    			<tr>
											    			<td style='padding-top:10px;'><font style='font-size:13px; color:#6E6E6E;'>
											    						<center>
											    					<button id='btnSend' class='btn btn-xs btn-primary'>
											    						Send Message</button> <button id='btnClear'>Clear</button>
											    					</center>
											    				</font></td>
															</tr>
											    		</table>
											    		</div>
											    		<div id='col2' class='col-xs-4' style='border:0px solid;'>
											      	
											      		</div>
											      			
								    			</div>

								    	
								     </div>
									     				   
								 		 </div>
									</div>
  						
  						<!-- </div> -->
  						 <div class="col-xs-12" style=' margin-top:10px;'></div>

					</div>
  				
				 