


<div class='row' style='border:0px solid; background-color:#f2f2f2; height:540px; border-bottom:3px solid #ffffff; '>

                <!-- <div class="col-xs-8 alert alert-success" style='border:0px solid; background-color:#CEF6D8;'
                ><font color='#6E6E6E'><center>Welcome to Rubiks Battle! </span></center></font></div>
             -->
                    <div class="col-xs-7" style='border:0px solid; background-color:#f2f2f2; padding:10px;'>
                                                                         <!-- #0404B4 -->
                    <div class='panel panel-primary' style='border:0px solid; '>
                          <div class='panel-heading' style='border:0px solid; background-color:#a4a4a4'> 

<md-icon md-svg-src="/img/svg/bar-chart.svg" aria-label="Close dialog" style='margin-right:10px;'></md-icon>
                          </span>Games in Progress
                         <span class="label label-danger" >LIVE!</span>
                        </div>
                            <!-- <div class='panel-body' style='border:0px solid;'> -->
                      <!--   <strong style='padding-left:200px;'> Event
                        <span style='margin-right:180px;'></span> Cube 
                        <span style='margin-right:40px;'></span> Details
                         <span style='margin-right:20px;'></span>  Room 
                        <span style='margin-right:30px;'></span>   Action</strong> -->
                        <div style='overflow:auto; max-height:412px; border:0px solid; margin:0px; '>
                               
                        <table id='tblMain' class="table table-hover" style='border:0px solid; background-color:#ffffff'>

                                <thead style='border:0px solid;' fix-head>
                                  <tr>
                                    <th style='border:0px solid; width:260px;'colspan='2'><center><strong>Event</strong></center></th>
                                    
                                    <th style='border:0px solid;'> <span style='margin-right:0px; border:0px solid;'></span>Cube</th>
                                    <th  style='border:0px solid;'><span style='margin-right:0px'></span>Details</th>
                                    <th style='border:0px solid;'><span style='margin-left:0px'></span>Room</th>
                                    
                                    <th style='border:0px solid;'><span style='margin-right:0px'></span>Action</th>

                                    <!-- event cube details room action -->
                                  </tr>
                                </thead>
                                <tbody id='tblBodyLiveGame'>
                                    
                        <!--              <tr>
                                    <td style='border:0px solid; '></td>
                                     <td style='border:0px solid; '> -->
                              <center style="display:{{ifHasLiveGames() ? '':'none'}}"><i>There is no currently live games</i></center></td>
                              <!--        <td style='border:0px solid;'></td>
                                     <td ></td>
                                     <td></td>
                                     <td></td>
                                   </tr> -->
                                   <tr ng-repeat='item in liveGames'>
                                            <td ><font style='color:#a4a4a4;'><b>
                                              {{item.gameData.reqTo_id._id === -1 ? 'Single Player':
                                                item.gameData.reqTo_id._id === 0 ? 'Vs Computer':'Battle PvP'
                                            }}

                                            </b>
                                            </font>
                                            <td >
                                           <img src="{{item.gameData.reqFrom_id.user_avatar}}" style='width:20px; height:20px;'> 
                                           <a style='color:#000000;' href="/member/{{item.gameData.reqFrom_id._id}}">{{item.gameData.reqFrom_id.username}}</a> <span style="display:
                                           {{item.gameData.reqTo_id._id === -1 ? 'none':''}}
                                           ">  vs 
                                           <img src="{{item.gameData.reqTo_id.user_avatar}}" style='width:20px; height:20px;'> 
                                           <a style='color:#000000;' href="/member/{{item.gameData.reqTo_id._id}}"> {{item.gameData.reqTo_id.username}}</a></span></td>
                                            <td ><span class="glyphicon glyphicon-{{item.gameData.cubeType === '3x3x3' ? 'th':'th-large'}}
                                              " style='margin-right:5px;'></span>
                                            {{item.gameData.cubeType === '3x3x3' ? '3x3x3':'2x2x2'}}</td>
                                            <td >{{item.roomScore.p1}} | {{item.roomScore.p2}}</td>
                                            <td>{{item.gameData.roomType}}
                                            </td>
                                            <td><a href="#" ng-click="redirectWindow('/live?id='+item.gameData._id)">View</a></td>

                                    </tr>
                               

                                 
                                </tbody>
                              </table>
                            </div>
                              <script>
                              // $('#tblMain').scrollTableBody({rowsToDisplay:10});
                              </script>
                              </div>
                            <!-- </div> -->
                    </div>
                <div class="col-xs-5" style='border:0px solid; padding:10px; padding-bottom:0px;'>


                        <style>
                            .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
                                color: black;
                                background-color:#FFFF00;

                            }

                                .nav-pills > li.active > a:hover {
                                    background-color:#FFFF00;
                                    color:black;
                                }
                        </style>        
                                                                            <!-- #0404B4 -->
                        <div class=' panel panel-primary' style='border:0px solid; margin-bottom:0px;'>
                            <div class='panel-heading' style='background-color:#a4a4a4; border:1px solid;'>
                             <!-- <md-icon md-svg-src="/img/svg/flag.svg" aria-label="Close dialog" style='margin-right:10px;'></md-icon> -->
                             <span class='glyphicon glyphicon-flag' style='padding-right:10px;'></span>
                            Leaderboards


                    <span id='spanRefresh' style='cursor:default;' onClick='location.reload();'>
                        <span class='glyphicon glyphicon-refresh' style='margin-left:200px'></span> Refresh</span>
                            </div>
                            <div class='panel-body' style='border:0px solid; padding:0px; padding-bottom:0px;' align='center'>

                                    
                                

<!-- 
                                        <uib-tabset type="pills">
                                          <uib-tab><uib-tab heading>123</uib-tab heading>Tab 1 content</uib-tab>
                                          <uib-tab heading="Small Button">Tab 2 content</uib-tab>
                                        </uib-tabset> -->
                                         <div class='col-xs-5' style="display:{{radioSelected == 'Left' ? 'none':''}};">
                                            <uib-tabset ng-disable="true"  type='pills' style='border:0px solid; margin-top:5px;'>
                                               <uib-tab disable="leaderboardDisable" select="selectCubeType('3x3x3')">
                                                <uib-tab-heading>
                                                 <span class='glyphicon glyphicon-th'></span> 3x3x3
                                                </uib-tab-heading>
                                              </uib-tab>
                                               <uib-tab disable="leaderboardDisable" select="selectCubeType('2x2x2')">
                                                <uib-tab-heading>
                                                  <span class='glyphicon glyphicon-th-large'></span> 2x2x2
                                                </uib-tab-heading>
                                               
                                              </uib-tab>
                                            </uib-tabset>
                                        </div>
                                        <div class="col-xs-{{radioSelected == 'Left' ? '12':'7'}}">
                                           <div class="btn-group" style='margin-top:10px;'>
                          <label class="btn btn-default"  ng-model="radioSelected" ng-change="changeRadio(radioSelected)" uib-btn-radio="'Left'"  ng-disabled='leaderboardDisable'
                          uib-popover="Highest user rating" popover-placement='top' popover-trigger="'mouseenter'">Highscore</label>
                          <label ng-disabled='leaderboardDisable' class="btn btn-default" ng-model="radioSelected" ng-change="changeRadio(radioSelected)" uib-btn-radio="'Middle'" 
                            uib-popover="Fastest solve of cube" popover-placement='top' popover-trigger="'mouseenter'">Single</label>
                            <label ng-disabled='leaderboardDisable' class="btn btn-default" ng-model="radioSelected" ng-change="changeRadio(radioSelected)" uib-btn-radio="'Right'"
                              uib-popover="All time average" popover-placement='left' popover-trigger="'mouseenter'">
                              Average
                              
                              </label>
                                          </div>
                                        </div>
                                     <script>
                                $(document).ready(function(){
                                   // $('#tblLeader').scrollTableBody({rowsToDisplay:10});
                                });
                                   
                                  </script>
        

                                 <div style='overflow:auto; max-height:382px; border:0px solid #ffffff; '>
                                  <table  class="table table-striped " style='font-size:14px;
                                      margin-bottom:0px; border:0px solid;' >
                                    <thead  fix-head>
                                      <tr>
                                        <th ><center>Rank</center></th>
                                        <th><center>User</center></th>
                                        <th><center>
                                {{radioSelected == 'Left'?'Rating':''}}
                               {{radioSelected == 'Middle'?'Best Time':''}}
                                {{radioSelected == 'Right'?'Average Time':''}}
                                      <!--    <a data-toggle="tooltip" data-placement="right" title="User's overall average time in solving the cube" style='cursor:default;'>(?)</a> --></center></th>
                                      </tr>
                                    </thead>

                                    <tbody >
                                      <tr  ng-repeat="item in leaderboardDisplay  |  orderBy:(radioSelected == 'Left' ?'-user_score':'+endedTime') track by $index">
                                          <td class='tdRank' align='center'>{{$index+1}}</td>
                                          <td style='padding-left:50px;'><img src="{{radioSelected == 'Left' ? item.user_avatar:item.userInfo.user_avatar}}" 
                                            style='width:20px; height:20px;'><a href="/member/{{radioSelected == 'Left' ? item._id:item.userInfo._id}}"  style='color:#000000;'>
                                              {{radioSelected == 'Left' ? item.username:item.userInfo.username}}
                                           </a></td>
                                          <td class='tdTime' align='center'> 
                                       <font ng-if="radioSelected !='Middle'">
                                       {{radioSelected == 'Left' ? item.user_score:convertTimeComplete(item.endedTime)}}
                                      </font>
                                      <span ng-if="radioSelected =='Middle'">
                                         <a href="/archive/{{item._id}}" >
                                            {{radioSelected == 'Left' ? item.user_score:convertTimeComplete(item.endedTime)}}
                                        </a>
                                      </span>

                                          </td>
                                      </tr>
                                      

                                     </tbody>

                                  </table>
                                    
                                </div>
                            

                               


                                     
                                      
                                    
                                   





                                
                            </div>
                        </div>

                    
                          <div style='margin-top:10px'></div>
                          

                        
                </div>

        </div>
           