<style>
  .left-to-right {
    border-width: 5px 0 3px 5px;
    border-style: solid;
  
    -webkit-border-image: 
      -webkit-gradient(linear, 100% 0, 0 0, from(red), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(right, red, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(right, red, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(right, red, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to right, red, rgba(0, 0, 0, 0)) 1 100%; 
}

</style>


<div class='row' style='border:0px solid; background-color:#F2F2F2; height:525px;' >
               <div ng-include='"templates/top_template.html"' ></div>
           <div class="col-xs-4 no-padding-margin " style='padding-left:40px; border:0px solid; margin-bottom:20px; ' align='left'>
              <span  style='font-size:30px;  font-family:"Comic Sans MS", cursive, sans-serif; border-left:7px solid #a4a4a4; padding-left:10px; color:#6E6E6E' >Select game  </span>
               <md-icon md-svg-src="/img/svg/select-area.svg" 
               ng-style="{'width':'50px', 'height':'50px','padding-bottom':'10px'}" ></md-icon>

           </div>
            <div class="col-xs-4 no-padding-margin " style='padding-left:40px; border:0px solid; margin-bottom:20px;' align='center'>
              <span  style='font-size:30px;  font-family:"Comic Sans MS", cursive, sans-serif; border-left:7px solid #a4a4a4; padding-left:10px; color:#6E6E6E' >It's free  </span>
               <md-icon md-svg-src="/img/svg/logistics-cube-box-ultrathin-outline.svg" 
               ng-style="{'width':'50px', 'height':'50px','padding-bottom':'10px'}"></md-icon>

           </div>
            <div class="col-xs-4 no-padding-margin " style='padding-right:40px; border:0px solid; margin-bottom:20px; ' align='right'>

               <span   style='font-size:30px;  font-family:"Comic Sans MS", cursive, sans-serif; border-left:7px solid #a4a4a4; padding-left:10px; color:#6E6E6E' >Enjoy! </span>

              <md-icon md-svg-src="/img/svg/smiley-with-closed-eyes-rounded-square-face.svg" 
               ng-style="{'width':'50px', 'height':'50px','padding-bottom':'10px'}"></md-icon>

            </div>
          
          <div class='row' style='border:0px solid; padding:50px; padding-top:115px;'>            
                        
             <div class="col-xs-4 hvr-grow-shadow" style='border:0px solid; outline:none;' ng-click='inviteDialog(selfInfo)'>
              <a id='btnSinglePlayer' >
                <div class="col-xs-12" style='border:0px solid; background-color:#e6e6e6;; padding-left:0px;'>
                <center>
                  <img style='height:250px; width:250px; border:1px solid #FFFFFF;' src='img/user/p.png'/>
                </center>
                
                </div>
              
                <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
                <center>
                 <!-- <span style='margin-right:10px;' class='glyphicon glyphicon-user'></span> -->
                  <font style='color:#6E6E6E; font-size:30px;'>Play Single Player</font><br>
                 <font style='color:#6E6E6E'>Solve the cube and record your time!<font><br>
                  
                  </center>
                </div>
                </a>
                 <div class="col-xs-12" style=' margin-top:10px;'></div>
           </div>
            <div class="col-xs-4 hvr-grow-shadow" style='border:0px solid; outline:none;' ng-click='friendsDialog()'>
              <a>
                <div class="col-xs-12" style='border:0px solid; background-color:#e6e6e6; padding-left:0px;'>
                <center>
                  <img style='height:250px; width:250px; border:1px solid #FFFFFF;'  src='img/user/pvp.png'/>
                </center>
                
                </div>
              
                <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
                <center>
                  <font style='color:#6E6E6E; font-size:30px;'>Battle PvP</font><br>
                 <font style='color:#6E6E6E'>Play and solve the cube realtime with your friend!<font><br>
                  
                  </center>
                </div>
                </a>
                 <div class="col-xs-12" style=' margin-top:10px;'></div>
           </div>
            <div class="col-xs-4 hvr-grow-shadow" style='border:0px solid; outline:none;' ng-click='inviteDialog(computerInfo)'>
              <a id='btnComputer'>
                <div class="col-xs-12" style='border:0px solid; background-color:#e6e6e6; padding-left:0px;'>
                <center>
                  <img style='height:250px; width:250px; border:1px solid #FFFFFF;' src='img/user/pvb.png?123'/>
                </center>
                
                </div>
              
                <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
                <center>
                 <!-- <span style='margin-right:10px;' class='glyphicon glyphicon-user'></span> -->
                  <font style='color:#6E6E6E; font-size:30px;'>Play against Computer</font><br>
                 <font style='color:#6E6E6E'>Think you're good? Try beating our AI!<font><br>
                  
                  </center>
                </div>
                </a>
                 <div class="col-xs-12" style=' margin-top:10px;'></div>
           
                
            </div>
                  
        </div>
</div>