<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
                <div  role="alert" class="col-xs-12 alert alert" style='border:0px solid;'>
                    <span class='well well-sm'> <span class='glyphicon glyphicon-bookmark'></span>
                     Welcome <span style='font-size:16px;'><span id='spanUsername' ></span>!</span>
                    </span>
                </div>
                        
                        
             <div class="col-xs-4" style='border:0px solid;'>
              <a id='btnSinglePlayer' >
                <div class="col-xs-12" style='border:0px solid; background-color:#D8D8D8;; padding-left:0px;'>
                <center>
                  <img style='height:250px; width:250px; border:1px solid #FFFFFF;' src='img/user/p.png'/>
                </center>
                
                </div>
              
                <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
                <center>
                 <!-- <span style='margin-right:10px;' class='glyphicon glyphicon-user'></span> -->
                  <font style='color:#6E6E6E; font-size:30px;'>Play Single Player</font><br>
                 <font style='color:#6E6E6E'>Solve the cube and record your time!<font><br>
                  
                  </center>
                </div>
                </a>
                 <div class="col-xs-12" style=' margin-top:10px;'></div>
           </div>
            <div class="col-xs-4" style='border:0px solid;'>
              <a href='profile/friends.php'>
                <div class="col-xs-12" style='border:0px solid; background-color:#D8D8D8; padding-left:0px;'>
                <center>
                  <img style='height:250px; width:250px; border:1px solid #FFFFFF;'  src='img/user/pvp.png'/>
                </center>
                
                </div>
              
                <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
                <center>
                  <font style='color:#6E6E6E; font-size:30px;'>Battle PvP</font><br>
                 <font style='color:#6E6E6E'>Play and solve the cube realtime with your friend!<font><br>
                  
                  </center>
                </div>
                </a>
                 <div class="col-xs-12" style=' margin-top:10px;'></div>
           </div>
            <div class="col-xs-4" style='border:0px solid;'>
              <a id='btnComputer'>
                <div class="col-xs-12" style='border:0px solid; background-color:#D8D8D8; padding-left:0px;'>
                <center>
                  <img style='height:250px; width:250px; border:1px solid #FFFFFF;' src='img/user/pvb.png?123'/>
                </center>
                
                </div>
              
                <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
                <center>
                 <!-- <span style='margin-right:10px;' class='glyphicon glyphicon-user'></span> -->
                  <font style='color:#6E6E6E; font-size:30px;'>Play against Computer</font><br>
                 <font style='color:#6E6E6E'>Think you're good? Try beating our AI!<font><br>
                  
                  </center>
                </div>
                </a>
                 <div class="col-xs-12" style=' margin-top:10px;'></div>
           
                
            </div>
                  
          
</div>