

<img id='imgPrimary' src='img/primaryGifRegister.png' style='width:95px;
				 position:absolute; height:55px;  z-index:9999; left:450px; top:70px;  border:0px solid;'></img>

			<div  layout='row' id='mainRow' style='border:0px solid; background-color:; margin-top:65px;' layout-align='center'>
				<div flex='35'>
  				 <md-toolbar class="md-default" style='background-color:#848484'>
				    <div class="md-toolbar-tools" >
				     		<div flex></div>
				      <!-- 	<img id='imgPrimary'   style='
						   height:75px; width:100px;' src="img/primaryLogo.png"/> --><strong>

<span class='glyphicon glyphicon-check' 
            style='margin-right:5px;'></span>
               Register now! </strong>
					
							<div flex></div>
				    </div>
				  </md-toolbar>

				  <md-content flex layout-padding class='md-whiteframe-5dp'>


 <md-content layout-padding>
    <form name="projectForm" ng-model='modelForm' ng-submit="registerScopeFunc(projectForm)" >

	<div layout='row'>
		 <md-input-container flex='5'>
		 		<md-icon style='height:25px; width:25px; ' md-svg-src='img/svg/avatar.svg'></md-icon>
  		</md-input-container>
  		<div flex></div>
      <md-input-container flex='90'>
        <label>Username</label>
        <input md-maxlength="16" minlength='4' ng-change='removeErrDuplicate()'required md-no-asterisk name="nameUsername" ng-model="project.username" 
        ng-pattern="/^[a-zA-Z0-9]*$/"  autocomplete="off">
        <div ng-messages="projectForm.nameUsername.$error">
          <div ng-message="required">This is required</div>
          <div ng-message-exp="['minlength','md-maxlength']">The username must be in 4-16 characters long.</div>
          <div ng-message='pattern'>Letters and numbers only allowed.</div>
          <div ng-message='exists'>Your username is already exists</div>
        </div>
      </md-input-container>

  </div>

  <div layout='row'>
  		<md-input-container flex='5'>
  			 <md-icon style='height:25px; width:25px; ' md-svg-src='/img/svg/key.svg'></md-icon>
      	</md-input-container>
      	<div flex></div>
      <md-input-container flex='85'>
        <label>Password </label>
        <input required md-no-asterisk maxlength='50' minlength='4' name="namePassword" type="{{visible===true?'text':'password'}}" ng-model="project.password"  autocomplete='false'>
        <div ng-messages="projectForm.namePassword.$error">
          <div ng-message="required">This is required</div>
          <div ng-message-exp="['maxlength','minlength']">The password must be minimum of 4 characters long.</div>
         
        </div>
      </md-input-container>
    
       <md-input-container flex="5">
       				 <md-icon style='fill:grey' ng-click='changeVisible()' style='height:25px; width:25px; ' md-svg-src='/img/svg/binoculars.svg'></md-icon>
        </md-input-container>
 	</div>


<div layout='row'>
	<md-input-container flex='5'>
  			 <md-icon style='height:25px; width:25px; ' md-svg-src='/img/svg/envelope.svg'></md-icon>
      	</md-input-container>
      	<div flex></div>
      <md-input-container flex='90'>
        <label>Email</label>
        <input autocomplete="off" required type="email" name="clientEmail" ng-change='removeErrDuplicate()'  ng-model="project.email"
               minlength="10" maxlength="100" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Please enter a valid email address
          </div>
           <div ng-message='exists'>The email is already exists</div>
       
        </div>
      </md-input-container>
  </div>
   
      <div layout='row' layout-align='center' >


		      <md-button type='submit'  class="md-raised md-warn"><span class='glyphicon glyphicon-heart'></span> Create your account</md-button>
		
		       <md-button class="md-default" ng-click='aLogin()'>Back</md-button>
		  
      </div>

     
    </form>
  </md-content>
   <md-divider></md-divider>
       <center>  <font size='2.0' style='padding-left:20px; ' face="Comic sans MS" color='#848484'>
         © {{yearNow}} Rubik's Battle</a>
        
      </font>
    </center>
				  </md-content>

				</div>
			</div>

	


				


				