<html  ng-app="webApp" id="controller_id" ng-controller='liveCtrl'>

<head>
		<meta charset="UTF-8">
		 <base href="/">
		 <script src="js/jquery.js"></script>
		 <script src="js/three/three.js"></script>
		 <script src="js/three/Projector.js"></script>
	 	 <script src='js/three/CanvasRenderer.js'></script>
		 <script src="js/three/TrackballControls.js"></script>
	   	 <script src="js/three/tween.min.js"></script> 
	   	 <script src="js/three/ImageUtils.js"></script>
	   <!--   // <script src="js/bindWithDelay.js"></script>
	   	 // <script src="js/onDelay.js"></script> -->
		<!-- // <script src='js/jquery-3.1.0.min.js'></script> -->
		 <script src = 'bootstrap-3.3.6-dist/js/bootstrap.js'></script>

		   <script src="/node_modules/angular/angular.js"></script>
		    <!-- // <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script> -->
		    <script src="/js/angular-route.min.js"></script> 

		  <script src="node_modules/angularjs-scroll-glue/src/scrollglue.js"></script>

		   <link href="node_modules/angular-tooltips/dist/angular-tooltips.min.css" rel="stylesheet" type="text/css" />
		    <script src="node_modules/angular-tooltips/dist/angular-tooltips.min.js"></script>


		    	<link rel="stylesheet" type="text/css" href="/tooltipster-master/dist/css/tooltipster.bundle.min.css" />
		        <script type="text/javascript" src="/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>

		 <!-- // <script type="text/javascript" src="js/inc/TimeCircles.js"></script> -->
		 <!-- <link href="jqueryWidget/jquery-ui.css" rel="stylesheet"> -->
		 <!-- // <script src = 'jqueryWidget/jquery-ui.js'></script> -->

		 <!-- <link rel="stylesheet" type="text/css" href="js/tooltipster.bundle.css"> -->
		<!-- // <script src = "js/tooltipster.bundle.js"></script> -->
		
		 <script src="/socket.io/socket.io.js"></script>

	     <link rel="stylesheet" href="flipclock/flipclock.css">

	     <script src='/nsPopover-master/src/nsPopover.js'></script>
	     <link rel='stylesheet' type='text/css' href='/nsPopover-master/example/nsPopover.css'/>
         <!-- <link rel="stylesheet" href="js/inc/TimeCircles.css" /> -->
       	 <link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.css">
       <!-- 	 <link rel="stylesheet" type="text/css" href="css/tooltipster-sideTip-noir.min.css">
		 <link rel="stylesheet" type="text/css" href="css/tooltipster-sideTip-shadow.min.css">
		 <link rel="stylesheet" type="text/css" href="css/tooltipster-sideTip-light.min.css">
		 <link rel="stylesheet" type="text/css" href="css/tooltipster-sideTip-shadow.min.css">
		 <link rel="stylesheet" type="text/css" href="css/tooltipster-sideTip-borderless.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/shine.css">

	<script src="\bower_components\angular-audio\app\angular.audio.js"></script>
		  
	<!--  client side checker for if solveg-->
	<script src="/js/solveP1.js"></script>		

    <link rel='stylesheet' type='text/css' href='/css/loader.css'></link>
	<div id='tpad'></div>


    <!-- angular material -->
        <!-- <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css"> -->
        <link rel='stylesheet' href='/css/angular-material-live.css'/>
        <script src="/node_modules/angular-aria/angular-aria.js"></script> 
        <script src="/node_modules/angular-animate/angular-animate.js"></script> 
        <script src="/node_modules/angular-material/angular-material.js"></script>
    <!-- angular material -->
       <script src="/js/angular-sanitize.js"></script>


	 

    	     <script src= 'js/ui-bootstrap-tpls-2.2.0.js'></script>

       <!-- angular dialogs download -->

    	  <link  type='text/css' rel='/node_modules/angular-dialog-service/dist/dialogs.css'/>
         <script type='text/javascript' src='/node_modules/angular-dialog-service/dist/dialogs-default-translations.js'></script>
		<script type='text/javascript' src='/node_modules/angular-dialog-service/dist/dialogs.js'></script>


   


    	<!-- slider  -->

    	<link rel="stylesheet" type="text/css" href="/node_modules/angularjs-slider/dist/rzslider.css"/>
<script src="/node_modules/angularjs-slider/dist/rzslider.min.js"></script>


		    <script src='/js/live.js'></script>
		 <script>
			$(document).ready(function() {
		         $("body").css('width', 1366 + 'px');
			 });


		 </script>
		 
		 <style>

     
		 		[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
       svg { 
            fill: inherit;
        }

		 </style>


		 	                    <!--    <div class="loader" style="display:{{loadComplete ? 'none':''}}">
                                        <div class="loader-inner">
                                            <div class="loading one"></div>
                                        </div>
                                        <div class="loader-inner">
                                            <div class="loading two"></div>
                                        </div>
                                        <div class="loader-inner">
                                            <div class="loading three"></div>
                                        </div>
                                        <div class="loader-inner">
                                            <div class="loading four"></div>
                                        </div>
                                    </div>
 -->
		
</head>
	                            

<!-- {{load}} -->

<body id='mainBody' style="position:absolute; 
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border:0px solid;"  ng-cloak initialisation >

<div id='masterRow' style='border:0px solid;'>


<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4" style='width:500px;'>

      <md-toolbar class="md-theme-indigo" layout='row' style='padding-bottom:10px;'>
        <span class="md-toolbar-tools" style='display:inline;'>  <md-icon style='fill:white; margin:0px; margin-left:10px; margin-right:10px;   height:80px; width:80px;'

         md-svg-src="/img/svg/ic_keyboard_black_24px.svg"></md-icon> Keyboard Controls</span>  

        <md-button class="md-icon-button" ng-click="toggleRight()">
          <md-icon md-svg-src="/img/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
     	 </md-toolbar>


      <md-content layout-margin>
		<style>
			.moveCaption{
				padding:0px;
				border-left:5px solid red;
				/*border:1px solid;*/
				font-size:18px;
				padding-left:10px;

			}
		</style>
		<md-grid-list  md-cols="4" md-row-height="110px" ...>
			<md-grid-tile ng-repeat-start="item in cubeList track by $index" ng-if="[0,6,9].indexOf($index) >-1 " ><span class='moveCaption'> {{$index == 0 ? 'Turns / Faces' : $index == 6 ? 'Slice turns' : $index == 9 ? 'Rotations':''}} </span></md-grid-tile>

		    <md-grid-tile ng-if="[3].indexOf($index) > -1">

		    </md-grid-tile>
		    <md-grid-tile  ng-click="moveClick(item.charAt('0').toUpperCase())" ng-repeat-end><img style='width:85px; height:85px; margin-bottom:20px;border:0px solid; background-color:#d8d8d8;' ng-src='img/controls/v_2/{{item}}.png'></img>  
			  <md-grid-tile-footer layout-align='center' ng-style="tileCss">
		       	<strong style='font-size:16px;'>{{item.charAt('0').toUpperCase()}}</strong>
		      </md-grid-tile-footer>
		    </md-grid-tile>
		 </md-grid-list>

		<md-divider style='margin-bottom:;' ></md-divider>
		 <div layout='row' ng-init="shift=false" ng-click="shift = !shift" style='margin:0px;' layout-align='center'>
		 	<span flex></span>Shift: <span style="color:{{shift?'red':'blue'}}">{{shift?'on':'off'}}</span><span flex></span>
		 	<img style='height:70px; width:180px;' src='img/controls/shift.png'></img>
		 	<span flex></span>
		 </div>
	 	<div layout='row' style='margin:0px;' layout-align='center'>
	 	 Press shift before key, to turn <font style='color:#0080FF; margin-left:10px;'> counter-clockwise</font>
	 	</div>
      </md-content>


</md-sidenav>



	<!-- {{load===false ? 'hidden':''}} -->
				<span id='yourCube' style="height:30px; display:{{gameData.reqTo_id._id == '-1' || playerPerspective == 'observer' ?'none':''}}; background-color:#6E6E6E; color:#ffffff; padding:5px;">
						<strong> {{displayYourCube}} </strong>
				</span>

		<div class= "row" id='firstRow' style = 'width: 1266px; border:0px solid; margin:50px; margin-top:15px; margin-bottom:0px;'> 
		

			<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
				
	  				<div class="col-xs-12" style='border:0px solid;'>
	  						<div class="col-xs-12" style='border:0px solid; '>
	  								<div class='col-xs-2' style='border:0px solid; background-color:#bdbdbd; padding:2.8px; '> 
	  								
	  								<img id='gameLogo' src="
	  								  {{gameData.reqTo_id._id==0 ? 'img/user/pvb.png':
                                       (gameData.reqTo_id._id==-1 ? 'img/user/p.png':'img/user/pvp.png')}}
	  								" style='width:25; height:25; border:1px solid #ffffff; '></img>
	  								
	  								 	<font id='gameLabel' style='color:#ffffff; font-size:15px;'>
							 		     {{gameData.reqTo_id._id==0 ? 'Versus Computer':
					                      (gameData.reqTo_id._id==-1 ? 'Single Player':'Battle PvP')}}
	  								 		 </font>

	  								 </div> 
	  								
	  								 <div id='headerInformation' class='col-xs-7' style='border:0px solid;
	  								  padding:5px; '> 
	  								
	  								 		<font style='color:#6E6E6E; font-size:12px;'>{{convertToDate(gameData.reqDate)}}</font>
	  								 	<span style='margin-left:10px; margin-right:10px;'>|</span> 
	  								 	<font style='color:#6E6E6E; font-size:12px;'>Cube: {{gameData.cubeType}}</font>
	  								 	<span style='margin-left:10px; margin-right:10px;'>|</span> 
	  								 		<font style='color:#6E6E6E; font-size:12px;'><span id='p1HeaderUser'>
	  								 			{{gameData.reqFrom_id.username}}
	  								 		</span> <span id='p1Score'>[{{scoreP1}}]</span> <span id='removeSingle'>
	  								 		<span style="display:
	  								 		{{gameData.reqTo_id._id == '-1' ? 'none':''}}">vs
	  								 	<span id='p2Headeruser'>{{gameData.reqTo_id.username}}</span> <span id='p2Score'> [{{scoreP2}}]</span></span></span></font>
  								 		<span style='margin-left:10px; margin-right:10px;'>|</span> 
	  								 		<font style='color:#6E6E6E; font-size:12px;'>{{gameData.roomType}} </font>
	  								 		<span style="border:0px solid; display:
	  								 		{{gameData.roomType === '(Private)' ? '':'none'}}">
  								 				<span style='margin-left:10px; margin-right:10px;'>|</span> 
	  								 		<font style='color:#6E6E6E; font-size:12px;'> Keyword: ' {{gameData.reqKeyword}} '</font>
	  								 		</span>

	  								 <!-- 		<md-chips>
									      <md-chip>Hockey</md-chip>
									      <md-chip>Lacrosse</md-chip>
									      <md-chip>Baseball</md-chip>

									      <md-chip>{{ctrl.chipText}}</md-chip>
									    </md-chips> -->
	  								 </div>

	  								 <div class='col-xs-1' style="visibility:{{playerPerspective=='player1' || playerPerspective=='player2' ? 'visibile':'hidden'}}; padding:2.8px;">	
	  								 	<button id='btnHelp' ng-click='showHelp()' class='btn btn-xs' style='color:blue;'><span class='glyphicon glyphicon-question-sign'></span> Help</button>
	  								 </div>

	  								 <div class='col-xs-1' style="padding:2.8px; z-index:{{[3].indexOf(modalPage)>-1?'9999999':''}}"
	  								 	uib-popover-html="helpPopover" popover-placement='bottom'  
								 popover-is-open="[3].indexOf(modalPage)>-1 ? true:false" 
                   				 popover-enable="[3].indexOf(modalPage)>-1 ? true:false">	
	  								 	<button ng-mouseover='hoverFunc()' ng-click="showSettings(); cancel();" class='btn btn-xs'><span class='glyphicon glyphicon-cog'></span> Settings</button>
	  								 </div>

  								 <div class='col-xs-1' style="z-index:{{[4].indexOf(modalPage)>-1?'9999999':''}}; border:0px solid; background-color:; padding:2.8px; "> 

	  								 	<button  ng-mouseover='hoverFunc()' ng-click="

	  								 	playerPerspective != 'observer' ? showConfirmAbandon($event):home(); cancel();" class='btn btn-xs'><span class='glyphicon glyphicon-home'
								 	 uib-popover-html="helpPopover" popover-placement='bottom'  
								 popover-is-open="[4].indexOf(modalPage)>-1 ? true:false" 
                   				 popover-enable="[4].indexOf(modalPage)>-1 ? true:false"
></span> Home</button>
	  							
	  								  	<img src='img/primaryLogo.png' style='width:50; 
	  								  	height:40;  position:absolute; top:-15px; right:-35px;'></img>
	  								
	  								 	<!-- <font style='color:#ffffff; font-size:15px;'>Battle PvP </font> -->
	  								</div>


	  						</div>
							
					 	
	  						
	  				</div>
	  		</div>
	 
	  	
	  		
	  		<div class='row' style='border:0px solid; background-color:#F2F2F2;  margin-top:5px;' align='left'>
							<div class="col-xs-4" style='border:0px solid; padding:5px;' align='left'>
												<table style='margin:5px; border:0px solid;' >
											<tr>
												<td rowspan='4' style='border:0px solid;'>

													<img id='p1Image' 
		src="{{playerPerspective == 'player2' ? gameData.reqTo_id.user_avatar:gameData.reqFrom_id.user_avatar}}" style='height=50px; width:50px; margin-left:10px; margin-right:10px;'></img>
												</td>
												<td style='border:0px solid; padding-bottom:5px;'>
													<b><font id='p1Username' style='font-size:17px; color:#6E6E6E;'>
															{{playerPerspective == 'player2' ?gameData.reqTo_id.username:gameData.reqFrom_id.username}}
													</font> </b>
													
									</font></strong>
													

												</td>
											</tr>
											
											<tr>
												<td style='border:0px solid; padding-right:10px;'>
													<font style='font-size:12px;'><span class='glyphicon glyphicon-menu-right'></span> Rating:</font>
														<strong style='color:grey'>
														{{playerPerspective =='player2' ? pRating.p2Rating:pRating.p1Rating}}</strong>
													</font>
												</td>
											</tr>
											
											<tr>
												<td style='padding-top:10px;'>
													<span id='p1Status' class="label label-{{(playerPerspective =='player2' ? user2:user1)? 'success':'Danger'}}
													">{{(playerPerspective =='player2' ? user2:user1) ? 'Connected':'Disconnected'}}</span>

													
												</td>
											</tr>
											
										</table>


							</div>
						
							<!-- <div class="col-xs-0" style='border:0px solid; '>
								
	  						</div> -->
	  						<div class="col-xs-4" style='border:5px solid #ffffff; background-color:#f2f2f2; padding:0px;'>
	  							
<!-- 	  							<img src='img/primaryLogo.png' style='width:90px; height:50px;
	  							 margin-right:10px; margin-top:-20px; border:0px solid; padding:0px;'></img>

 -->							
 								<center>
 								<!-- <div class="clock" style='border:1px solid;'></div> -->
 								<div>

 									<style>
 										@font-face{
 											font-family: 'timerFont';
 											src: url('/css/DIGITALDREAM.ttf') format('truetype');
 										}
 									</style>
 									<span style='font-size:60px; font-family:timerFont;'><!-- 00:00:00 -->
 										{{clockMin}}:{{clockSec}}<span style='font-size:40'>.{{clockMilli}}</span>
 									</span>
 								
 									
 								</div>
 									<!-- timer -->
 								</center>
				

					 			 <!-- <button onClick='timeFunc();'>test</button> -->
					 			
									
								

							
					 		</div>
					 
						
							<div id='p2Panel' class="col-xs-4" style="border:0px solid; padding:5px; display:
							{{gameData.reqTo_id._id == '-1' ? 'none':''}}
							" align='right'>

								<table style='margin:5px; border:0px solid;' align='right'>
											<tr>
												
												<td align='right' style='border:0px solid; padding-bottom:5px;'>
													<!-- <span class="label label-danger">Disconnected</span> -->

													<b><font id='p2Username' style='font-size:17px; color:#6E6E6E;'>
													{{playerPerspective == 'player2' ? gameData.reqFrom_id.username:gameData.reqTo_id.username}}
													</font> 
												</td>
												<td align='right' rowspan='4' style='border:0px solid;'>
													<img id='p2Image' src="{{playerPerspective == 'player2' ? gameData.reqFrom_id.user_avatar:gameData.reqTo_id.user_avatar}}" style='height=50px; width:50px; margin-left:10px; margin-right:10px;' style='height=50px; width:50px; margin-right:10px; margin-left:10px;'></img>
												</td>

											</tr>
<!-- 
											<tr>
												<td align='right' style='border:0px solid; padding-right:0px;'>
													<font style='font-size:12px;'>Best Ave of 5
														<b id='p2Average' style=' color:#6e6e6e;'></b></font>
												</td>
											</tr> -->
											<tr>
												<td align='right'>
													
													<font style='font-size:12px;'>
													<span class='glyphicon glyphicon-menu-right'></span> Rating:</font>
														<strong style='color:grey'>
														{{playerPerspective =='player2' ? pRating.p1Rating:pRating.p2Rating}}</strong>
													</font>
													
																 
													
												</td>
											</tr>
											<tr align='right'>
												<td style='padding-top:10px;'>
														<span id='p2Status' class="label label-{{(playerPerspective =='player2' ? user1:user2) === true? 'success':'Danger'}}">{{(playerPerspective =='player2' ? user1:user2)===true? 'Connected':'Disconnected'}}</span>

												</td>
											</tr>

										
									
										</table>
										
										<!-- Player 2:  -->
							</div>
					 
			</div>
			<div class='row'>
				<div id='p1Control1' class='col-xs-2' style='border:0px solid; height:25px;  background-color:#F2F2F2; margin-top:5px; padding:0px;' >
								
								
								<div id='divKeyboard1' class='col-xs-12' 
								style="  border:0px solid; visibility:{{playerPerspective=='player1' || playerPerspective=='player2' ? 'visibile':'hidden'}};
								z-index:{{[1].indexOf(modalPage)>-1?'9999999':''}}
								"
								
								align='center'>

									<button id='btnKeyboard'
								
								  type="button" class="btn btn-default btn-xs"
								uib-popover-html="helpPopover" popover-placement='right'  
								 popover-is-open="[1].indexOf(modalPage)>-1 ? true:false" 
                   				 popover-enable="[1].indexOf(modalPage)>-1 ? true:false"

									ng-click="toggleRight(); cancel();" ng-mouseover='hoverFunc()'>	<!-- data-target="#keyboardcontrols"  -->
									 <font style='font-size:13px; color:#6E6E6E;'>Keyboard controls</font>
									</button>
									<!-- <button data-toggle="modal" 
									data-target="#keyboardcontrols">keyboardTest</button> -->
								</div>
				</div>

			<div  id='p1Control2' class='col-xs-2' style="border:0px solid; height:25px;  background-color:#F2F2F2; margin-top:5px;
			z-index:{{[2].indexOf(modalPage)>-1?'9999999':''}}"
				uib-popover-html="helpPopover" popover-placement='top'  
								 popover-is-open="[2].indexOf(modalPage)>-1 ? true:false" 
                   				 popover-enable="[2].indexOf(modalPage)>-1 ? true:false"
							>
					<center style="visibility:{{playerPerspective=='player1' || playerPerspective=='player2'?'visible':'hidden'}};">
				

					<button ng-mouseover='hoverFunc()' id="{{playerPerspective=='player1'?'btnReady':''}}"  
					 ng-click='btnReady(); btnP1=false;' 
					 uib-popover-html="htmlPopover" popover-placement='top'  popover-is-open="btnP1"
					ng-disabled = "btnP1 ? '':'disabled'" class='btn btn-primary btn-xs'> Ready</button>
					<button ng-mouseover='hoverFunc()' id='btnForfeitP1'  ng-click='btnForfeit()' 
					ng-disabled = "gameStatus === 'onGame' ? '':'disabled'"  class='btn btn-danger btn-xs'> Forfeit</button>
				
					 </center>
					
				</div>
				<div  id='centerBackground' class='col-xs-4' style='border:0px solid; height:25px; background-color:#f2f2f2; margin-top:5px;'>
					<!-- Button trigger modal -->
						<center >
						
							<strong id='centerMessage' style="border:0px solid; font-size:17px; 
							color:{{gameStatusColor}};" > 
									{{centerMsg}}
									
									<!-- <button ng-click="showToast()">test1</button> -->

 										
							</strong>
								<!-- <button ng-click='btnTest()'>test</button> -->
						</center>
			
				</div>
			
				<div id='p2Control1' class='col-xs-2' style='border:0px solid #ffffff; height:25px; background-color:#f2f2f2; margin-top:5px;' align='right'>
				
									<!-- 	<center style="visibility:{{playerPerspective=='player2'?'visible':'hidden'}};">
										<button id="{{playerPerspective=='player2'?'btnReady':''}}" 
										uib-popover-html="htmlPopover" popover-placement='top'  popover-is-open="btnP2"
										 ng-disabled = "btnP2 ? '':'disabled'" 
										ng-click='btnReady(); btnP2=false'
										 class='btn btn-primary btn-xs'>Ready</button>
										<button  ng-click='btnForfeit()' ng-disabled = "gameStatus === 'onGame' ? '':'disabled'" class='btn btn-danger btn-xs'> Forfeit</button>
										</center> -->
					
				</div>
				<div id='p2Control2' class='col-xs-2' style='border:0px solid #000000; height:25px; background-color:#F2F2F2; margin-top:5px; padding:0px;'  >
						<!-- 	<div id="divKeyboard2" class='col-xs-12' style="border:0px solid; 
							display:{{playerPerspective=='player2'?'':'none'}}" align='center'>
									<button id='btnKeyboard1' type="button" class="btn btn-default btn-xs" data-toggle="modal" 
									data-target="#keyboardcontrols">
									 <font style='font-size:13px; color:#6E6E6E;'>Keyboard controls</font>
									</button>
							</div>
							 -->
								

					
				</div>
		
				<script>
					
					
				</script>
				
			</div>
			<style>
			.nopadding {
				   padding: 0 !important;
				   margin: 0 !important;
				}
			</style>
			<script>

			</script>
			
			<div class='row'  focus-me='ifFocus' ng-focus='hideToast()' ng-blur="showBlur()" ng-keydown="keydown($event)"  id='userControl' tabindex='1' style='border:0px solid; outline:none; background-color:#F2F2F2; padding-left:0px; padding-right:0px; margin-top:5px;'  >
				<div id="{{playerPerspective=='player2' ? 'player2':'player1'}}" class="col-xs-6 nopadding" style="{{gameData.reqTo_id._id != '-1'? 'border-right:0px solid':''}}; width:
				{{gameData.reqTo_id._id == '-1' ? '1296':'648'}}px; height:290px; overflow:hidden;">
						<!-- player panel -->
				</div>
				<div id="{{playerPerspective=='player2' ? 'player1':'player2'}}"  class="col-xs-6 nopadding" style="{{gameData.reqTo_id._id != '-1'? 'border-left:1px solid':''}}; width:648px; height:290px; display:
					{{gameData.reqTo_id._id == '-1' ? 'none':''}}">
				
				

				</div>
				
			</div>
			<div class='row' style='border:0px solid; background-color:#f2f2f2; margin-top:5px;'>
				<div class="col-xs-1" style='border:0px solid;' align='right'>
					 <!-- <span class='glyphicon glyphicon-comment' style='font-size:40px;'></span> -->
				</div>
				<div class='col-xs-8' style='border:0px solid #ffffff; '>
						<span class='glyphicon glyphicon-comment'
						 style='font-size:20px; position:absolute; top:0px; left:-10px;'></span>Chat
				</div>
				
				<div class="col-xs-3" style='border:1px solid #ffffff;'>
					<center>(<span id='spanNumUsers'>{{usersInRoom.length}}</span>) Users in this room</center>
				</div>
				<div class="col-xs-0" style='border:1px solid #ffffff;'>
				
				</div>
			</div>
			<div class='row' style='border:0px solid; background-color:#f2f2f2; margin-top:0px;'>
				<div class="col-xs-1" style='border:0px solid;' align='right'>
					 <!-- <span class='glyphicon glyphicon-comment' style='font-size:40px;'></span> -->
				</div>
				<div scroll-glue="glued" class="col-xs-8" style='border:1px solid #A4A4A4; background-color:#ffffff; height:15%; overflow:scroll; overflow-x: hidden; 
					 padding:10px;'>
					 			

			 			<div ng-repeat="item in roomMsg" class='col-xs-12' style='border:0px solid #ffffff;'>
								 		<img src='{{item.avatar}}' style='width:20px; margin-right:5px;
								 			 height:20px;'></img> <a style='color:#000000;'><b>
								 			 {{item.username}}</b>:</a> 
								 			 <span style="font-style: {{item.msg =='Entered the room' || item.msg =='Left the room' ? 'italic':''}}">
								 			 {{item.msg}}
								 			</span>
								 	</div>
		
				</div>
				<div id='userScroll' class="col-xs-3" style='border:1px solid #A4A4A4; background-color:#ffffff; height:15%; overflow:scroll; overflow-x: hidden; 
					 padding:10px;'>
						
				
						<a ng-repeat="item in usersInRoom" style='color:#000000;'><div class='col-xs-12'  style='border:2px solid #ffffff; background-color:#f2f2f2;'>
										 		<img src='{{item.user_avatar}}' style='width:20px; margin-right:5px;
										 			 height:20px;'></img> <b>{{item.username}}</b></div>

										 		
										 			</a>
				


				</div>
				<div class='col-xs-0' style='border:0px solid #ffffff'>

				</div>
			</div>

			<div class='row' style='border:0px solid; background-color:#f2f2f2; margin-top:5px; height:4%;'>
				<div class="col-xs-1" style='border:0px solid;' align='right'>
					 
				</div>
				<div id='divChat' class="col-xs-8" style="border:1px solid #ffffff; 
					 padding:0px;" >
					 <img id='userImg' src='{{userInfo.user_avatar}}' style='width:20px; margin-right:5px;
					 			 margin-top:5px; height:20px;'></img> <b id='bUsername'>{{userInfo.username}}:</b>
					
					 <input id='inputMessage' my-enter="btnSend()" ng-model='inputMessage' style='width:500px; height:25px;'></input>
					 <button style="z-index:{{[5].indexOf(modalPage)>-1?'9999999':''}}; position:relative; " 
								 uib-popover-html="helpPopover" popover-placement='top'  
								 popover-is-open="[5].indexOf(modalPage)>-1 ? true:false" 
                   				 popover-enable="[5].indexOf(modalPage)>-1 ? true:false"

                   				 id='btnSend' ng-mouseover='hoverFunc()' ng-click='btnSend();cancel();' class='btn btn-default btn-xs'>Send</button>



				</div>
				<div class="col-xs-3" style='border:0px solid; '>
					 
				</div>
			</div>

		<div ng-include='"templates/footer.html"'></div>


		<!-- <div ng-include='"templates/popover.html"'></div> -->



				
	</div>
	<!-- <div id='tpad'>this is tpad</div> -->
</body>

<div class="modal fade" id="keyboardcontrols" 
									tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog modal-lg" role="document" >
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss='modal'>
									        x</button>
									        <h4 class="modal-title" id="myModalLabel"> 
									        	</span>	
									        	<font style='font-size:17px; color:#6E6E6E;'>Cube Keyboard Shortcuts
									        	</font></h4>
									      </div>
									      <div class="modal-body" style='background-color:#ffffff;' align='center'>
									      	<style>
									      		.borderTable{

									      			border:1px solid #d8d8d8;
									      			text-align:center;
									      			padding:5px;
									      			color:#6E6E6E;
									      			font-size:20px;
									      			font-weight:bold;
									      		}
									      	</style>
									      	<table style='border:0px solid;'>

									      		<tr class='borderTable'>
									      				<td class='borderTable' rowspan='2'>
									      					<font style='font-size:17px; color:#6E6E6E;
									      					 font-weight:normal;'>Turns / Faces</font>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/up.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/down.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/left.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/right.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/front.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/back.png'></img>
									      				</td>
									      		</tr>

									      		<tr>
									      				
									      				<td class='borderTable'>
									      					U
									      				</td>
									      				<td class='borderTable'>
									      					D
									      				</td>
									      				<td class='borderTable'>
									      					L
									      				</td>
									      				<td class='borderTable'>
									      					R
									      				</td>
									      				<td class='borderTable'>
									      					F
									      				</td>
									      				<td class='borderTable'>
									      					B
									      				</td>
									      		</tr>

									      		<tr class='borderTable'>

									      				<td class='borderTable' rowspan='2'>
									      				<font style='font-size:17px; color:#6E6E6E;
									      					 font-weight:normal;'>Slice / turns</font>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/middle.png'></img>

									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/equatorial.png'></img>
									      				</td>
									      				<td class='borderTable'> 
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/standing.png'></img>
									      				</td>
									      				<td class='' colspan='3' rowspan='2'>

									      				</td>
									      			<!-- 	<td class='borderTable'>
									      				</td>
									      				<td class='borderTable'>
									      				</td> -->
									      		</tr>

									      		<tr class='borderTable'>

									      				
									      				<td class='borderTable'>
									      					M
									      				</td>
									      				<td class='borderTable'>
									      					E
									      				</td>
									      				<td class='borderTable'>
									      					S
									      				</td>
									      			
									      				
									      		</tr>

									      		<tr class='borderTable'>

									      				<td class='borderTable' rowspan='2'>
									      					<font style='font-size:17px; color:#6E6E6E;
									      					 font-weight:normal;'>Rotations</font>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/x.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/y.png'></img>
									      				</td>
									      				<td class='borderTable'>
									      					<img style='width:70px; height:70px; border:0px solid; 
								       							background-color:#d8d8d8;' src='img/controls/z.png'></img>
									      				</td>
									      				<td class='borderTable' colspan='3'>
									      					<img style='height:70px; width:180px;' src='img/controls/shift.png'></img>
									      				</td>
									      				
									      		</tr>

									      		<tr class='borderTable'>

									      				
									      				<td class='borderTable'>
									      					X
									      				</td>
									      				<td class='borderTable'>
									      					Y
									      				</td>
									      				<td class='borderTable'>
									      					Z
									      				</td>
									      				<td class='borderTable' colspan='3'>

									      					<font style='font-size:14px;'>Press shift key before, 
									      						to turn <font style='color:#0080FF'>counter-clockwise</font>
									      					</font>
									      				</td>
									      				

									      		</tr>
									      	</table>
								     
								     	
									       	  	
									     
									      </div>
									      <div style='border:0px solid; padding-left:20px;' align='left'>
									      		 <span class='glyphicon glyphicon-info-sign'></span>
									      		  <a style="text-decoration:none; color:#A4A4A4;" href='https://www.speedsolving.com/wiki/index.php/3x3x3_notation';
									      		  target='_blank'>
									      <font style='font-size:15px'> Based on the standard notation</font>
									      </a>
									      </div>
									      <div class="modal-footer">

									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
									       
									      </div>
									    </div>
									  </div>
									</div>
	
		

		<div id="toggleKeyboard" style="display:none; style='border:50px outset #6E6E6E" > 
			<center><button id='btnToggleKeyboard' style='font-size:15;'>Click here to toggle keyboard controls</button></center>
		</div>	

	








		<style> .no-close .ui-dialog-titlebar-close {display:none;} </style>
		


<div ng-include='"templates/modalsLive.html"'></div>

<script src='multiplayerCube/matrixManip.js'></script>
<script src='multiplayerCube/matrixManip2.js'></script>
	  <script src='multiplayerCube/myCubeB.js'></script>
    <script src='multiplayerCube/myInitB.js'></script>
    <script src='multiplayerCube/myCubeB2.js'></script>
    <script src='multiplayerCube/myInitB2.js'></script>
    


     <script src="flipclock/flipclock.js"></script>	


 
</html>