
	<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
				
					<div ng-include='"templates/side_template.html"' ></div>
			<div class="col-xs-9" style='font-family:; border:0px solid;'>
					
						<!-- <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF;'> -->
  							
		  						<div class="container col-xs-12" style='border:0px solid;' >
								 
								  <ul class="nav nav-tabs">
								    <li><a data-toggle="" href="{{isMember?'/member/'+isMember_id:'/profile'}}"><span class='glyphicon glyphicon-pencil'>
								    </span> About Me</a></li>
								    <li><a data-toggle="" href="{{isMember?'/member/games/'+isMember_id:'/profile/games'}}"><span class='glyphicon glyphicon-signal'></span> Games</a></li>
								  	<li class="active" style='border-top:4px solid #a4a4a4; '><a href="{{isMember?'/member/friends/'+isMember_id:'/profile/friends'}}"><span class='glyphicon glyphicon-user'>
								    </span> Friends</a></li>
								  </ul>

								  		<div class="tab-content">

											    <div id="about" class="tab-pane fade in active" 
												    style='background-color:#FFFFFF; 
												    border:0 px solid;
												    padding:20px; padding-top:10px;'>
											    	<!-- <div class='row' align='right' style='padding-right:60px;'>
											    				<font style='color:#a4a4a4;'>Total Friends </font>
														(<a id='totalFriends'></a>)
													
											    	</div> -->
											    	  <div layout='row'>
    <md-input-container flex='75' class="md-icon-float  " style='margin-bottom:0px; border:0px solid;'>
      <label>Search username</label>
      <md-icon md-svg-src="img/svg/ic_account_circle_black_24px.svg" class="name"></md-icon>
      <input ng-model="inputFriendsUsername"  ng-init="inputFriendsUsername=''" type="text" >
        </md-input-container>
 		
        <div flex></div>
 		<font style='color:#a4a4a4;'>Total Friends &nbsp </font>(<a id='totalGames'>{{friendsData.length}}</a>)
    </div>

			<style> /*for online circle*/
				.menu {width:65px; text-align:center; float:left; border:0px solid; padding:0px; padding-bottom:0px;position:relative;
					margin-right:10px;}
					.menu_label {width:154px; color:#FFFFFF;  float:left; position:absolute; top:50px; left:5px;}


					.photoStyle{max-width:125px; border:0px; margin:auto;}
			</style>									
				<div class='row' style='border:0px solid;' >
			              		<div id='divFriends' class='col-xs-12' style='border:1px solid #d8d8d8; padding:20px;
								height:300px; overflow:scroll; overflow-x: hidden; '>
									<center style="display:{{friendsData.length == 0 ? '':'none'}}"><i>There is no friends to display<span style="display:{{isMember?'none':''}}">, click 
										<b><a href='/invite' >here</a></b> to invite others!</span></i></center>

									<div class='row' style='border-bottom:1px solid #d8d8d8; margin-bottom:5px; padding-bottom:5px;'
									   ng-repeat="item in friendsData" ng-if=
									   "item.username.indexOf(inputFriendsUsername.toString())>-1"> 
									   	
													<div class='col-xs-8' style='border:0px solid;'>
																<table style='border:0px solid; table-layout:fixed'>
															<tr><td  style='border:0px solid' rowspan='2'>
															<!-- 	<img style='width:60px;  height:60px; border:0px solid #d8d8d8; margin-right:0px;'
									    						 src="{{item.user_avatar}}">
																</img> 
 -->


<div class="menu">
    <img src="{{item.user_avatar}}" class="" style='width:60px; height:60px;'   />
  <!--   <span class="menu_label">
           <svg width="25" height="25" style='position: relative; top:-11px; left:-28px; z-index: 3;' >
	                               <circle cx="12.5" cy="12.5" r="8"   fill="{{onlineList.indexOf(item._id.toString())>-1 ? 'LightGreen':'Red'}}" />
           </svg> 
    </span>       -->                                      
</div>
																</td>
																<td style='border:0px solid' >

						
													    <a href="/member/{{item._id}}"> 
								    						<font style='font-size:20px; color:#6E6E6E;'> {{item.username}}</font>		</a>
					 <svg width="25" height="25" style='padding-top:5px; border:0px solid;'    
					>
                               <circle cx="12.5" cy="12.5" r="5"   
                               fill="{{busyList.indexOf(item._id.toString())>-1 ? 'orange':onlineList.indexOf(item._id.toString())>-1? 'LightGreen':'red'}}" >
                               <title>
                               {{busyList.indexOf(item._id.toString())>-1 ? 'Busy':onlineList.indexOf(item._id.toString())>-1? 'Online':'Offline'}}</title>
                               </circle>
											    		  	
                      </svg> 
				    										 </td>
								                            </tr>
								                            <tr>
								                            	<td>
								                            		 <font style='font-size:13px; color:#6e6e6e;'>
								                            	
							    							{{item.user_country}}
									    				
								                            	</td>

								                            </tr>
								                             
																
															

																</table>
								     				</div>
								     				<!-- ng-repeat="i in getNumber(150) track by $index"  -->
													<div class='col-xs-4'  style='border:0px solid;'>
											     				<a href="/member/{{item._id}}">
									    						<font style='font-size:13px; color:#6E6E6E;'>
									    							<span class='glyphicon glyphicon-info-sign'></span>
									    						View Profile</font>
									    						</a>
									    						<br>
									    						<a href="/profile/create?name={{item.username}}">
									    						<font style='font-size:13px; color:#6E6E6E;'>
									    							<span  class='glyphicon glyphicon-comment'></span>
									    						Send a message</font>
									    						</a><br>
									    						<!-- <a>
									    						<h4 ng-click='showDialog()'style='margin-top:5px; cursor:default;'
									    						 data-tooltip-content=\"#tooltip_content"+resArray[1]+"\" >
									    						<span  class='glyphicon glyphicon-flash'></span>
									    						Challenge to a play
									    						</h4>
									    						</a> -->
					    						 <md-button class="md-raised" style='font-size:12px;' 
					    						 ng-click='inviteDialog(item)'>
					    						 <span  class='glyphicon glyphicon-flash'></span> 
					    						 Challenge to a play!  </md-button>
						    						</div>
						    					</div>
									    					
									    		
																
							    						</div>
													</div>
							 <script>
							   // $('#tblFriends').scrollTableBody({rowsToDisplay:7});
							   // 	var e = jQuery.Event("keypress");
										// 						e.which=13;
										// 						$('#searchUser').trigger(e);
										// 						$('#searchKeyword').html('');

							  </script>
													
											   
											    </div>
										    <div id="games" class="tab-pane fade" style='background-color:#FFFFFF; padding-top:1px;'>
											    
													    
										     	 </div>
												   	  <div id="friends" class="tab-pane fade" style='background-color:#FFFFFF; padding-top:1px;'>
												    	<script>
 
												    	</script>
								


												    	</div>
								   			</div>
								 	</div>
										

  					
  					
  								<div class="col-xs-12" style=' margin-top:10px;'></div>
		
					</div>
  			</div>
  			<!-- <div style="position: relative; z-index: 1; border:1px solid;"> -->
					<!--   <img src="img/user/userDefault.png" style="position: absolute; width:50px; height:50px; z-index: 2;" />
					   <svg width="25" height="25" style='position: relative; top: 30px; left:30px; z-index: 3;' >
	                               <circle cx="12.5" cy="12.5" r="8"   fill="red" />
                       </svg> -->
			<!-- </div> -->
