<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
				
					<div ng-include='"templates/side_template.html"' ></div>

			
  			
					<div class="col-xs-9" style='font-family:; border:0px solid;'>
					
						<!-- <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF;'> -->
  							
		  						<div class="container col-xs-12" style='border:0px solid;' >
								 
								  <ul class="nav nav-tabs">
								    <li class="active"><a data-toggle="" href="/profile"><span class='glyphicon glyphicon-pencil'>
								    </span> About Me</a></li>
								    <li><a href="/profile/games"><span class='glyphicon glyphicon-signal'></span> Games</a></li>
								  	<li><a href="/profile/friends"><span class='glyphicon glyphicon-user'>
								    </span> Friends</a></li>
								  </ul>

								  		<div class="tab-content">
											    <div id="about" class="tab-pane fade in active" style='background-color:#FFFFFF; padding:10px;'>
											      
											    	<div class='row' style='border:0px solid; padding:20px;'>
											    		<div class='col-xs-6' style='border:1px solid #f2f2f2;
											    		border-right:1px solid #d8d8d8;'>
										    			 			<ul class="nav nav-pills">
																	    <li class="active"><a data-toggle="tab" href="#3x3x3">
													    					<span class='glyphicon glyphicon-th'></span> 3x3x3
													    				</a></li>
																	    <li><a data-toggle="tab" href="#2x2x2"<button class='btn btn-xs btn-default'>
											    							<span class='glyphicon glyphicon-th-large'></span> 2x2x2
											    						</button></a></li>
																	  	
																	  </ul>
														   <div class="tab-content" style='border:0px solid;'>
								 								<div id="3x3x3" class="tab-pane fade in active" 
								 								style='border:0px solid #d8d8d8; padding:10px;
								 								background-color:#f2f2f2'>
									 									

						 									<table style='font-size:15px;'>
						 										<tr>
						 											<td></td><td></td>
					 											<td style='padding-left:30px'>
					 											<span class='glyphicon glyphicon-globe'></span>
					 											<strong> Rank</strong></td>
						 										</tr>
						 										<tr>
						 											<td style='padding:10px;'>
						 												<span class='glyphicon glyphicon-flash'> </span>
																      <b style='margin-left:5px;'> Personal Best:</b> 
						 											</td>
						 											<td >
						 												 <font style='color:#848484; 
																      margin-left:15px;'><b>
																    123
																						  </b></font>
												 											</td>
												 											<td style='padding-left:30px;'>
												 												<center ># 123</center>
																		   
																     
															
						 											</td>
						 										</tr>
						 										<tr>
						 											<td style='padding:10px;'>
						 												   <span class='glyphicon glyphicon-fire'> </span>
																    	  <b style='margin-left:5px;'>Average Time:</b> 
						 											</td>
						 											<td>
						 												<font style='color:#848484;
																       margin-left:15px;'><b>
																      					123
																						  </b></font>
												 											</td>
												 											<td style='padding-left:30px;'>
												 												<center># 123</center>

						 											</td>
						 										</tr>
						 										<tr>
						 											<td style='padding:10px'>
						 												<span class='glyphicon glyphicon-flag'> </span>
															   	   <b style='margin-left:5px;'>Races:</b>
						 											</td>
						 											<td>
				 												<font style='color:#04B404;
																				   	    margin-left:15px;'>123 wins</font> |
																				   	   <font style='color:#FE2E2E'> 123 lose</font>
																				   	   </td>
										 											<td style='padding-left:30px;'>
										 													<center># 123</center>
										 											</td>

						 												
						 											
						 										</tr>
						 									
						 									</table>
								 									
								 								</div>
								 								<div id="2x2x2" class="tab-pane fade" style='border:0px solid #d8d8d8;
								 								background-color:#f2f2f2; padding:10px;'>
								 										<table style='font-size:15px;'>
						 										<tr>
						 											<td></td><td></td>
					 											<td style='padding-left:30px'>
					 											<span class='glyphicon glyphicon-globe'></span>
					 											<strong> Rank</strong></td>
						 										</tr>
						 										<tr>
						 											<td style='padding:10px;'>
						 												<span class='glyphicon glyphicon-flash'> </span>
																      <b style='margin-left:5px;'> Personal Best:</b> 
						 											</td>
						 											<td >
						 												 <font style='color:#848484; 
																      margin-left:15px;'><b>
																    	
																						  </b></font>
												 											</td>
												 											<td style='padding-left:30px;'>
												 												<center>
																		 
						 											</td>
						 										</tr>
						 										<tr>
						 											<td style='padding:10px;'>
						 												   <span class='glyphicon glyphicon-fire'> </span>
																    	  <b style='margin-left:5px;'>Average Time:</b> 
						 											</td>
						 											<td>
						 												<font style='color:#848484;
																       margin-left:15px;'><b>   
																    	 			123
																						  </b></font>
												 											</td>
												 											<td style='padding-left:30px;'>
												 												<center>

						 											</td>
						 										</tr>
						 										<tr>
						 											<td style='padding:10px'>
						 												<span class='glyphicon glyphicon-flag'> </span>
															   	   <b style='margin-left:5px;'>Races:</b>
						 											</td>
						 											<td>
						 											<font style='color:#04B404;
																				   	    margin-left:15px;'>123 wins</font> |
																				   	   <font style='color:#FE2E2E'> 123 lose</font>
																				   	   </td>
										 											<td style='padding-left:30px;'>
										 													<center># 123</center>
										 											</td>

						 										</tr>
						 									
						 									</table>
								 								</div>
								 							</div>
								   
												    		
										    			</div>
											    		
											    		<div class='col-xs-6' style='border-top:1px solid #f2f2f2'>

											    		  <h3 style='color:#6E6E6E'></h3>
													      <span class='glyphicon glyphicon-calendar'> </span>
													      <b style='margin-left:10px;'>Member since:</b> 
													      
													   
													     	 <h3 style='color:#6E6E6E'></h3>
													      <span class='glyphicon glyphicon-gift'> </span>
													      <b style='margin-left:10px;'>Birthday:</b> 
													     
													     

											     
											    		</div>
											    	</div>

											    	<div class='row' style='border:0px solid'>
											    		<div class='col-xs-12' style='border:0px solid'>
											    		 <hr style='border:1px solid #d8d8d8;'>
											    		  <p>
											      	  

											       			 
														
											      	Ako'y isang pogi na napakapogi HAHAAHA call me jester na pogi talaga shet grabe HAHAHAHA another next new line</p>
											    
											    		</div>

											    	</div>
											    

											   
											    </div>
											    <div id="games" class="tab-pane fade" style='background-color:#FFFFFF; padding-top:1px;'>
											    
													      
														 
											     	 </div>
												   	  <div id="friends" class="tab-pane fade" style='background-color:#FFFFFF; padding-top:1px;'>
												    		
											
														


											    	</div>
								   			</div>
								 	</div>
										

  						

  					
  								<div class="col-xs-12" style=' margin-top:10px;'></div>
		
					</div>
  				
				  











			</div>
