<div class='row' style='border:0px solid; background-color:#F2F2F2;'>
				
					<div ng-include='"templates/side_template.html"' ></div>

			
  			
					<div class="col-xs-9" style='font-family:; border:0px solid;'>
					
						<!-- <div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF;'> -->
  							
		  						<div class="container col-xs-12" style='border:0px solid;' >
								 
			  <ul class="nav nav-tabs">
			    <li class="active" style='border-top:4px solid #a4a4a4;' ><a data-toggle="" h
		    			ref="{{isMember?'/member/'+isMember_id:'/profile'}}"><span class='glyphicon glyphicon-pencil'>
			    </span> About Me</a></li>
			    <li><a href="{{isMember?'/member/games/'+isMember_id:'/profile/games'}}"><span class='glyphicon glyphicon-signal'></span> Games</a></li>
			  	<li><a href="{{isMember?'/member/friends/'+isMember_id:'/profile/friends'}}"><span class='glyphicon glyphicon-user'>
			    </span> Friends</a></li>
			  </ul>

								  		<div class="tab-content">
											    <div id="about" class="tab-pane fade in active" style='background-color:#FFFFFF; padding:10px;'>
											     	<div layout='row'  layout-padding style='padding-bottom:0px;'>
									  			<div flex='33'>
							  			
							  				<strong > <span class='glyphicon glyphicon-stats'></span> Player stats
							  				 </strong>
										    
										     		
									  			</div>
												 <div flex='33'>
												 	<strong> <span class='glyphicon glyphicon-calendar'></span> Member since:  </strong>{{user_since}}
											     		
											     </div>
											     	<div flex='33' layout-align='center center' align='center' 
											     	style='background-color:#fafafa; border-left:60px solid #E6E6E6; border-right:60px solid #E6E6E6;'>
										     			<md-icon   md-svg-src="/img/svg/star.svg" aria-label="android "></md-icon></span> Rating: <b style='color:#848484; '> {{userRankHighscore.user_score}}</b> <b uib-popover="Overall rank {{userRankHighscore.rank}}" popover-placement='top' popover-trigger="'mouseenter'"
										     			style='color:orange; margin-left:7px; font-size:17px;'> 
										     			{{userRankHighscore.rank}} </b>  
										     		</div>
											     	</div>
											     <style>
											     	#radar {
													height: 65px;
width:160px;
-moz-border-radius: 25px 10px / 10px 25px;
border-radius: 25px 10px / 10px 25px;
														/*background-color:#f2f2f2;*/
														/*border:2px solid #d8d8d8;*/
											
														padding-bottom:10px;
														/*margin-right:10px;*/
													}
													.radar-bg{
													
														height: 5em;
														width: 12em;
														-moz-border-radius: 1em 4em 1em 4em;
														border-radius: 1em 4em 1em 4em;

													}
											     </style>
										    	<div layout='row' style='border:0px solid; padding:20px;'>
									    		<div flex='65' class="md-whiteframe-1dp radar-bg" style='width:600px; height:290px; background-color:#fafafa; border-top:1px solid #d8d8d8' align='left' >
											    		<!-- <canvas id="myChart" ></canvas> -->


											    		<canvas id="radar" class="chart chart-radar" 
														  chart-data="radarData" chart-colors='radarColors' chart-series='radarSeries' chart-options="radarOptions" chart-labels="radarLabels" chart>
														</canvas> 


														</div>

														<div flex='5'></div>
												<div flex='30' style=' border:0px solid' align='left' layout-padding  class="md-whiteframe-1dp">
												
													<div layout='row' layout-align='center' style='background-color:#CEE3F6'> 
													<strong>
															<span style='margin-right:5px' class='glyphicon glyphicon-th'></span>3x3x3
															</strong>

													</div>

												<!-- 	<div style="display:{{convertTimeComplete(userRankSingle3.endedTime)==''?'none':''}}"> -->
													<div layout='row' style="border:0px solid; display:{{convertTimeComplete(userRankSingle3.endedTime)==''?'none':''}} ">
														<span class='glyphicon glyphicon-flash' style='margin-right:5px;'></span> Best time: <div flex></div><b style='color:#848484; '>
														<a href="/archive/{{userRankSingle3.id}}">
														{{convertTimeComplete(userRankSingle3.endedTime)}}</a> </b><b 
														uib-popover="Overall rank {{userRankSingle3.rank}}" popover-placement='top' popover-trigger="'mouseenter'"
														style='color:orange; margin-left:7px; font-size:17px;'> 
														{{userRankSingle3.rank==0?'':userRankSingle3.rank}} </b>
													</div>
												
													<div layout='row'style="border:0px solid; display:{{convertTimeComplete(userRankSingle3.endedTime)==''?'none':''}}">
														<span class='glyphicon glyphicon-fire' style='margin-right:5px;'></span> 	Average: <div flex></div><b style='color:#848484; '>
														{{convertTimeComplete(userRankAverage3.endedTime)}}
														 </b><b uib-popover="Overall rank {{userRankAverage3.rank}}" popover-placement='top' popover-trigger="'mouseenter'"
														 style='color:orange; margin-left:7px; font-size:17px;'>
														{{userRankAverage3.rank==0?'':userRankAverage3.rank}} </b>
														  </b> 
													</div>
													<!-- </div> -->
													<div layout='row' style="display:{{convertTimeComplete(userRankSingle3.endedTime)==''?'':'none'}}; padding-top:20px;" layout-align='center' >
														<span ng-hide="isMember">
															To set your record 
															<a href='/play' style='margin-left:5px; '>Play now!</a>
														</span>
														<span ng-hide="!isMember">
															No record
														</span>
														
														
													</div>

													<md-divider style='margin-top:20px;'></md-divider>
													<md-divider></md-divider>
													
													<div layout='row' layout-align='center' style='background-color:#F8E0E6'> 
															<span style='margin-right:5px' class='glyphicon glyphicon-th-large'></span>2x2x2
													</div>
														<div layout='row' style="border:0px solid; display:{{convertTimeComplete(userRankSingle2.endedTime)==''?'none':''}}" >
														<span class='glyphicon glyphicon-flash' style='margin-right:5px;'></span> Best 	time: <div flex></div><b style='color:#848484; '>
														<a href="/archive/{{userRankSingle2.id}}">
														{{convertTimeComplete(userRankSingle2.endedTime)}}</a>
														 </b><b 
														 uib-popover="Overall rank {{userRankSingle2.rank}}" popover-placement='top' popover-trigger="'mouseenter'"
														 style='color:orange; margin-left:7px; font-size:17px;'>
														 {{userRankSingle2.rank==0?'':userRankSingle2.rank}} </b>
														  </b>  
													</div>
													<div layout='row' style="border:0px solid; display:{{convertTimeComplete(userRankSingle2.endedTime)==''?'none':''}}" >
														<span class='glyphicon glyphicon-fire' style='margin-right:5px;'></span> 	Average: <div flex></div><b style='color:#848484; '>
														{{convertTimeComplete(userRankAverage2.endedTime)}}
														</b><b uib-popover="Overall rank {{userRankAverage2.rank}}" popover-placement='top' popover-trigger="'mouseenter'"
														style='color:orange; margin-left:7px; font-size:17px;'> 
														{{userRankAverage2.rank==0?'':userRankAverage2.rank}} </b></b> 
													</div>

													<div layout='row' style="display:{{convertTimeComplete(userRankSingle2.endedTime)==''?'':'none'}}; padding-top:20px;" layout-align='center' >

															<span ng-hide="isMember">
															To set your record 
															<a href='/play' style='margin-left:5px; '>Play now!</a>
															</span>
															<span ng-hide="!isMember">
																No record
															</span>
														
													</div>

													
												</div>
											  	</div>

											    <!-- 	<div class='row' style='border:0px solid; padding:10px;'>
											    		
											    		<p></p>
											    
											    		

											    	</div>
											     -->

											   
											    </div>
											    <div id="games" class="tab-pane fade" style='background-color:#FFFFFF; padding-top:1px;'>
											    
													      
														 
											     	 </div>
												   	  <div id="friends" class="tab-pane fade" style='background-color:#FFFFFF; padding-top:1px;'>
												    		
											
														


											    	</div>
								   			</div>
								 	</div>
										

  						

  					
  								<div class="col-xs-12" style=' margin-top:10px;'></div>
		
					</div>
  				
				  











			</div>
