
   <!--  <div class="container">
        <p><a href="https://github.com/outrightmental/angularjs-tutorial-1">&hearts; on github</a></p>
    </div> -->

<style>
		.footer-background{
			border-bottom:1px solid #d8d8d8;
			border-radius:25px;
		}
</style>
<div class='row footer-background' style=' background-color:#F2F2F2; margin-top:10px;'>
				<font size='2.0' style='padding-left:20px; ' face="Comic sans MS" color='#848484'>
				 © {{yearNow}} Rubik's Battle</a>
				
			</font>
</div>



				

