
   <!--  <div class="container">
        <p><a href="https://github.com/outrightmental/angularjs-tutorial-1">&hearts; on github</a></p>
    </div> -->

<style>
		.footer-background{
			/*border-bottom:1px solid #d8d8d8;*/
			border-left:1px solid #d8d8d8;
			border-radius:25px;
		}
</style>
<div class='row footer-background' style=' background-color:#F2F2F2; margin-top:10px;'>
				<font size='2.0' style='padding-left:20px; ' face="Comic sans MS" color='#848484'>
				 © {{yearNow}} Rubik's Battle</a>
			<span style='margin-left:15px; margin-right:20px;'>-</span> Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
			<span style='margin-left:15px; margin-right:20px;'>-</span>
			Game music and sound effects by <a href='http://www.soundimage.org'>Eric Matyas</a>
			</font>
</div>



				

