<div class='row' >
    
  <md-content class="md-padding" style='padding-left:140px; background-color:#ffffff; padding-top:0px; margin-bottom:8px;'>
    <md-nav-bar md-selected-nav-item="" nav-bar-aria-label="navigation links" style='border:0px solid;'>
     
      <md-nav-item md-nav-href="/" style=''>
        <md-button class="md-raised" style='margin:0px; '><md-icon style='fill:black'  md-svg-src="/img/svg/ic_home_black_24px.svg" aria-label="android "></md-icon> Home</md-button></md-nav-item></md-nav-item>

      <md-nav-item md-nav-href="/play" style=''>
       <md-button class="md-raised" style='margin:0px;'><md-icon style='fill:black'  md-svg-src="/img/svg/ic_local_play_black_24px.svg" aria-label="android "></md-icon> Play</md-button></md-nav-item></md-nav-item>
     </md-nav-item>
      <md-nav-item md-nav-href="/profile" >
       <md-icon style='fill:CornflowerBlue'  md-svg-src="/img/svg/ic_person_pin_black_24px.svg" aria-label="android "></md-icon> 
      <b>Profile</b></md-nav-item>
      <md-nav-item md-nav-href="/invite" >
       <md-icon style='fill:CornflowerBlue'  md-svg-src="/img/svg/ic_find_replace_black_24px.svg" aria-label="android "></md-icon> 
      <b>Invite</b></md-nav-item>
      <span flex> </span>
        
       <md-menu-bar>
        <md-menu>
                 <button ng-click=""> 
            
                <md-icon style='fill:#BDBDBD' md-svg-src="/img/svg/ic_live_help_black_24px.svg" aria-label="android "></md-icon> 
                        <font color='#848484'>Help</font>
                      </button>
                <md-menu-content>
                   
                 </md-menu-content>


         </md-menu>
        <md-menu>
                 <button ng-click="$mdOpenMenu()" style='font-color:#848484'> 
                <md-icon style='fill:#BDBDBD' md-svg-src="/img/svg/ic_exit_to_app_black_24px.svg" aria-label="android "></md-icon> 
                        <font color='#848484'>Logout</font></button>
                <md-menu-content>
                    <md-menu-item>
                            <md-button ng-click='logout()'>
                            Are you sure you want to <b>Logout</b>?
                            </md-button>
                    </md-menu-item>
                 </md-menu-content>
                 

         </md-menu>


      </md-menu-bar>
      <span flex='10'> </span>

    


    <label style='font-size:18px; '><span >{{userInfo.username}}</span>     <br>
        <center>
               <div class="tabs tabs-striped">
  <span style='color:#bdbdbd'>
    <i class="glyphicon glyphicon-envelope" style='font-size:14px;'><a><span class="badge">1</span></a></i>

   
    <i class="glyphicon glyphicon-user" style='font-size:14px; '><a><span class="badge" >23</span></a></i>
  </span>
  </div>
        </center>
     </label>

        <img src="{{userInfo.user_avatar}}" style='width:50px; border:1px solid; height:50px; margin-left:10px; border-radius:50%;' class="md-user-avatar" alt="image caption"></img>



    </md-nav-bar>
  </md-content>

</div>