<div class='row' >
    <style>
        .header-background{
           border-top:1px solid #d8d8d8;
           border-radius:25px;
        }
        .allHeader{
            /*width:100px;*/
        }
    </style>
  <md-content class="md-padding header-background" style='padding-left:140px;
   padding-top:0px;'>
    <md-nav-bar md-selected-nav-item="" nav-bar-aria-label="navigation links" style='border:0px solid;'>
     
      <md-nav-item md-nav-href="/" style=''>
        <md-button class="md-raised allHeader" style='margin:0px; '><md-icon style='fill:black'  md-svg-src="/img/svg/ic_home_black_24px.svg" aria-label="android "></md-icon> Home</md-button>
      </md-nav-item>

      <md-nav-item md-nav-href="/play" style=''>
       <md-button class="md-raised  allHeader" style='margin:0px;'><md-icon style='fill:black'  md-svg-src="/img/svg/ic_local_play_black_24px.svg" aria-label="android "></md-icon> Play</md-button>
     </md-nav-item>

     <md-nav-item md-nav-href="/profile" style=''>
       <md-button class="md-raised allHeader" style='margin:0px;'><md-icon style='fill:black'  md-svg-src="/img/svg/ic_person_pin_black_24px.svg" aria-label="android "></md-icon> Profile</md-button>
     </md-nav-item>
     
      <md-nav-item md-nav-href="/invite" style=''>
       <md-button class="md-raised allHeader" style='margin:0px;'><md-icon style='fill:black'  md-svg-src="/img/svg/ic_find_replace_black_24px.svg" aria-label="android "></md-icon> Invite</md-button>
     </md-nav-item>

<!--  <md-nav-item md-nav-href="/">
         <md-icon style='fill:CornflowerBlue'  md-svg-src="/img/svg/ic_home_black_24px.svg" aria-label="android "></md-icon>  
         <b>Home</b></md-nav-item>

      <md-nav-item md-nav-href="/play" >
     <md-icon style='fill:CornflowerBlue'  md-svg-src="/img/svg/ic_local_play_black_24px.svg" aria-label="android "></md-icon> 
       <b>Play</b></md-nav-item>
      <md-nav-item md-nav-href="/profile" >
       <md-icon style='fill:CornflowerBlue'  md-svg-src="/img/svg/ic_person_pin_black_24px.svg" aria-label="android "></md-icon> 
      <b>Profile</b></md-nav-item>
      <md-nav-item md-nav-href="/invite" >
       <md-icon style='fill:CornflowerBlue'  md-svg-src="/img/svg/ic_find_replace_black_24px.svg" aria-label="android "></md-icon> 
      <b>Invite</b></md-nav-item> -->
      <span flex> </span>
        
      

       <md-menu-bar class='md-padding' style='margin:0px; padding-bottom:0px;'>
        <md-menu>
                 <button ng-click=""> 
            
                <md-icon style='fill:#BDBDBD' md-svg-src="/img/svg/ic_live_help_black_24px.svg" aria-label="android "></md-icon> 
                        <font color='#848484'>Help</font>
                      </button>
                <md-menu-content>
                   
                 </md-menu-content>


         </md-menu>
        <md-menu>
                 <button ng-click="$mdOpenMenu()" style='font-color:#848484'> 
                <md-icon style='fill:#BDBDBD' md-svg-src="/img/svg/ic_exit_to_app_black_24px.svg" aria-label="android "></md-icon> 
                        <font color='#848484'>Logout</font></button>
                <md-menu-content>
                    <md-menu-item>
                            <md-button ng-click='logout()'>
                            Are you sure you want to <b>Logout</b>?
                            </md-button>
                    </md-menu-item>
                 </md-menu-content>
                 

         </md-menu>


      </md-menu-bar>


      <span flex='10'> </span>
 
      <style>
          .user-container:after{
/* color:#4D81BF;
  border-left: 100px solid;
  border-top: 100px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
*/
          }
          .user-container{  
                border-left:1px solid #bdbdbd; 
                /*border:1px solid;*/
                padding-top:5px; 
                /*border-right:1px solid #bdbdbd; */
                margin-top:px; 
                padding-left:10px; 
                padding-right:10px; 
                /*border:1px solid;*/
                border-radius:100px; 
                background-color:#ffffff;

          }
      </style>

      <!-- <md-menu-bar style='padding-bottom:0px;  '> -->
      <div class='user-container'>
       
        <table style='margin-left:10px;'>

            <tr>
                <td>
                     <label style='font-size:18px; border:0px solid; '><span >{{userInfo.username}}</span>    </label>  
      
                </td>
                <td rowspan='2'>
                   <img src="{{userInfo.user_avatar}}" style='width:50px;  border:1px solid #ffffff; height:50px; margin-left:10px; border-radius:50%;' class="md-user-avatar" alt="image caption"></img>
                </td>
            </tr>
            <tr>
                <td>
                  <div class="tabs tabs-striped" style='border:0px solid;' align='center'>
                    <span style='color:#bdbdbd'>
        <i ng-click="redirect('/profile/messages')" class="glyphicon glyphicon-envelope" style='font-size:14px;'><span style="display:{{numMsg==0?'none':''}}"class="badge">{{numMsg}}</span></i>
                  <i ng-click="redirect('/invite')"class="glyphicon glyphicon-user" style='font-size:14px; '><a ><span style="display:{{numFriends==0?'none':''}}" class="badge" >{{numFriends}}</span></a></i>
                  </span>
                  </div>

                </td>

            </tr>
        </table>
     

      </div>
      <!-- </md-menu-bar> -->



    </md-nav-bar>
  </md-content>

</div>