<div style="visibility: hidden">
    <!--############################# invite dialog ######################################-->



    <div class="md-dialog-container lg-modal" id="inviteDialog" style=''>
      <md-dialog layout-padding style='background-color:#000000;color:#ffffff; width:300px;' >
           
                   <div layout="row" layout-align="center center" style='border-bottom:1px solid red;'>
                     <img src="
                      {{inviteData._id==0 ? 'img/user/pvb.png':
                      (inviteData._id==-1 ? 'img/user/p.png':'img/user/pvp.png')}}
                  " style='width:25px; height:25px; background-color:#a4a4a4;
                                    border:1px solid #ffffff; margin-right:10px;'></img>
                                    <font style='color:#ffffff; font-size:15px;'> <strong>
                                            {{inviteData._id==0 ? 'Versus Computer':
                                            (inviteData._id==-1 ? 'Single Player':'Battle PvP')}}
                                            <!-- {{(inviteData._id==-1 ? 'Single Player':'')}} -->
                                           <!--  {{inviteData._id!=0 && invitedata._id!='-1' ? 'Battle PvP':''}} -->
                                    </strong> </font>
                    </div>
                 
                        <!-- <div layout="row"  align='center' style='border:0px solid #ffffff;'>
                                 <div flex layout="column" align='right' style=' border:0px solid #ffffff;' >
                                        <div flex></div>
                                         <div flex style='border:0px solid #ffffff;' ><span class='glyphicon glyphicon-fire'></span> Opponent: </div>
                                          
                                </div>
                                <div flex layout="column" align='center' style='border:0px solid #ffffff;' >
                                        <div flex><img src='{{inviteData.user_avatar}}' style='width:30px; height:30px;'></img></div>
                                        <div flex><strong>{{inviteData.username}}</strong></div>
                                          
                                </div>

                         </div> -->
                         <div layout="row"  align='center' style="display:
                                           {{inviteData._id==0 ? 'none':
                                            (inviteData._id==-1 ? 'none':'')}}
                                            ; border:0px solid #ffffff;">
                           <table align='center' style='; border:0px solid #ffffff'>
                                    <tr style='border:0px solid #ffffff;'>
                                        <td rowspan='2' >
                                           <div  style='border:0px solid #ffffff; padding-right:10px;' ><span class='glyphicon glyphicon-fire'></span> Opponent: </div>
                                        </td>
                                        <td>
                                         <div flex align='center' ><img src='{{inviteData.user_avatar}}' style='width:30px; height:30px;'></img></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <div flex><strong>{{inviteData.username}}</strong></div>
                                        </td>
                                       

                                    </tr>
                                </table>
                        </div>
                          <div layout="row"   style='border:0px solid #ffffff;'>
                                 <div  flex layout="column" align='center' style='  border:0px solid #ffffff;' >
                                         <div  style='border:0px solid #ffffff;' >
                                            <strong><span class='glyphicon glyphicon-cog'></span> Game options</strong>
                                         </div>
                                          
                                </div>
                               
                          </div>
                         <div layout="row" align='center'  style='border:0px solid #ffffff;'>
                                     <table style='border:0px solid #ffffff;  margin-left:20px; '>
                                        <tr >
                                            <td style='padding-right:10px; width:50%; padding-bottom:10px;'>
                                                <font style='font-size:15px; color:#ffffff'>Cube type: </font>
                                            </td>
                                            <td style='padding-right:0px; padding-bottom:10px;'>
                                          <select id='cubeType'  ng-model='root.cubeType' 
                                         style='color:#ffffff; background-color:#000000' >
                                                  <option value="3x3x3">3x3x3</option>
                                                  <option value="2x2x2">2x2x2</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style='padding-right:10px;  padding-bottom:10px;'>
                                                <font style='font-size:15px; color:#ffffff'>Room: </font>
                                            </td>
                                            <td style='padding-right:0px; border:0px solid #ffffff; padding-bottom:10px;'>
                        <select
                              ng-model='root.roomType' style='color:#ffffff; background-color:#000000'>
                                                          <option value="(Public)">(Public)</option>
                                                          <option value="(Private)">(Private)</option>
                                                    </select>
                                            </td>

                                        </tr>
                                       
                                        <tr  style="display:{{root.roomType=='(Private)' ? '':'none'}}" >
                                            <td style='padding-right:10px; padding-bottom:10px;'>
                                                <font style='font-size:15px; color:#ffffff'>Keyword: </font>
                                            </td>
                                            <td style='padding-right:00px; padding-bottom:10px;'>
                                            <input id='requestKeyword' ng-model='root.inviteKeyword' autofocus style='width:80px; color:#ffffff; background-color:#000000' maxlength='12'></input>

                                            </td>
                                        </tr>
                                    </table>
                                          
                                   
                         
                          </div>
                            <div style="{{inviteDisplay === 1 ? '' : 'display:none'}}">
                                <div layout='row' layout-align='center' >
                           
                                 <progress-arc
                                        size="70"
                                        stroke="#a4a4a4"
                                        stroke-width="100"
                                        complete="inviteTimer"
                                       counter-clockwise="">
                                    </progress-arc>
                                  </div>
                                <div layout='row' layout-align='center' style='padding-top:10px;'>
                           

                                    <font id='divWaiting' style='font-size:15px; color:#00FF40;'>
                                          <strong>    Waiting for confirmation .. </strong>
                                     </font>
                                   
                                        
                                </div>
                          </div>
                                 <center  style="font-size:15px; color:red; display:{{root.declineModal===1? '':'none'}}">
                                    <font> <strong>  Opponent declined the request. </strong></font>
                                 </center>
                                  <center  style="font-size:15px; color:red; display:{{root.notAvailableModal===1? '':'none'}}">
                                    <font> <strong>  Battle request is not available now </strong></font>
                                 </center>
                          <div layout='row' align='center'>
                                <div flex>
                                    <!-- <md-button class="md-raised md-warn" style='font-size:12px;'>Send Request</md-button> -->
                        <button ng-click='sendRequest();'  ng-disabled="inviteDisplay === 1 ||  root.declineModal === 1 ? 'disabled' : '' " class='btn btn-success btn-md' ><strong>
                            {{inviteData._id==0 || inviteData._id==-1 ? 'Start now!':'Send Request'}}

                            
                            <!-- Send Request -->
                                </strong></button>
                                     <button id='btnCancel' ng-click="cancelGameReq()" class='btn btn-default btn-md'>Cancel</button>
                                     
                                </div>

                                 
                          </div>
      </md-dialog>
    </div>
<!--############################# invite dialog ######################################-->

<!--############################# received dialog ######################################-->


    <div class="md-dialog-container lg-modal" id="receivedDialog" style=''>
      <md-dialog layout-padding style='background-color:#000000;color:#ffffff; width:300px;' >
           
                   <div layout="row" layout-align="center center" style='border-bottom:1px solid red;'>
                     <img src='img/user/pvp.png' style='width:25px; height:25px; background-color:#a4a4a4;
                                    border:1px solid #ffffff; margin-right:10px;'></img>
                                    <font style='color:#ffffff; font-size:15px;'> <strong>
                                        Battle PvP
                                    </strong> </font>
                    </div>
                 
                       <!--  <div layout="row"  align='center' style='border:0px solid #ffffff;'>
                                 <div flex layout="column" align='right' style=' border:0px solid #ffffff;' >
                                        <div flex></div>
                                         <div flex style='border:0px solid #ffffff;' ><span class='glyphicon glyphicon-fire'></span> Opponent: </div>
                                          
                                </div>
                                <div flex layout="column" align='center' style='border:0px solid #ffffff;' >
                                        <div flex><img src='img/user/userDefault.png' style='width:30px; height:30px;'></img></div>
                                        <div flex><strong>winnie26</strong></div>
                                          
                                </div>
                         </div> -->
                            <center style='margin-top:20px; '>
                                     <b id='requestUsernameR' style='font-size:20; color:#ffffff'> 
                                      <img style='height:30px; width:30px;' src='{{receivedData.user_avatar}}'></img>
                                {{receivedData.username}}</b><br>
                                    <font style='font-size:15px; color:#ffffff; margin-left:5px; '>
                                        invited you to a game
                                    </font></center>

                          <div layout="row"   style='border:0px solid #ffffff;'>
                                 <div  flex layout="column" align='center' style='  border:0px solid #ffffff;' >
                                         <div  style='border:0px solid #ffffff;' >
                                           <strong><span class='glyphicon glyphicon-cog'></span> Game options</strong>
                                         </div>
                                          
                                </div>
                               
                          </div>
                         <div layout="row" layout-align='center'  style='border:0px solid #ffffff;'>
                                     <table style='border:0px solid #ffffff;  margin-left:20px; '>
                                        <tr >
                                            <td style='padding-right:10px; width:50%; padding-bottom:10px;'>
                                                <font style='font-size:15px; color:#ffffff'>Cube type: </font>
                                            </td>
                                            <td style='padding-right:0px; padding-bottom:10px;'>
                                                 <span class="glyphicon glyphicon{{root.cubeType == '3x3x3'?'-th':'-th-large'}}"></span> {{root.cubeType}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style='padding-right:10px;  padding-bottom:10px;'>
                                                <font style='font-size:15px; color:#ffffff'>Room: </font>
                                            </td>
                                            <td style='padding-right:0px; border:0px solid #ffffff; padding-bottom:10px;'>
                                           <span class="glyphicon glyphicon-eye-{{root.roomType == '(Public)'?'open':'close'}}"></span> {{root.roomType}}
                                            </td>

                                        </tr>
                                        <tr style="display:{{root.roomType=='(Private)' ? '':'none'}}" >
                                            <td style='padding-right:10px; padding-bottom:10px;'>
                                                <font style='font-size:15px; color:#ffffff'>Keyword: </font>
                                            </td>
                                            <td style='padding-right:00px; padding-bottom:10px;'>
                                                ' {{root.inviteKeyword}} '

                                            </td>
                                        </tr>
                                    </table>
                                          
                         
                          </div>
                            <div style="display:{{inviteDisplay === 1 ? 'block' : 'none'}}">
                            <center>   
                                <progress-arc
                                        size="70"
                                        stroke="#a4a4a4"
                                        stroke-width="100"r
                                        complete="receivedTimer"
                                       counter-clockwise="">
                                    </progress-arc>
                                </center>
                                   
                                </div>
                          <div layout='row' align='center' ng-init='receiveDialogAccept=false'>
                                <div flex>
                                    <!-- <md-button class="md-raised md-warn" style='font-size:12px;'>Send Request</md-button> -->
                                    <!-- ng-click='acceptGameReq();'  -->
                                    <button ng-model='receiveDialogAccept' ng-click='receiveDialogAccept = true; acceptGameReq();' ng-disabled = 'receiveDialogAccept' class='btn btn-success btn-md'><strong>Accept</strong></button>
                                     <button id='btnCancel' ng-click="declineGameReq()" class='btn btn-danger btn-md'>Decline</button>
                                </div>

                                 
                          </div>
      </md-dialog>
    </div>

 <!--############################# received dialog -end ######################################-->

                    <!-- online friends dialog -->
     <div class="md-dialog-container lg-modal" id="friendsDialog" style=''>
      <md-dialog layout-padding style=' width:700px; border:0px solid;' >
            <md-toolbar style='padding:0px;'>
             <div class='md-toolbar-tools' style='background-color:#2e2e2e'>
                 <span flex></span>
              <span class='glyphicon glyphicon-fire'></span>
                  <span style='margin-left:10px'></span>Play with your friends!

                  <!-- <label style='font-size:14px'>All friends online</label> -->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-src="/img/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>

    <!-- <md-input-container class="md-icon-float md-block" style='border-bottom:0px solid #d8d8d8; margin:0px; padding-top:0px; margin-bottom:0px; padding-bottom:0px;' align='center'> -->

   
          <div layout='row' layout-align='center center'style='border-bottom:1px solid #d8d8d8; '>
                <label style='color:#a4a4a4' flex='33'><span class='glyphicon glyphicon-asterisk'></span> 
                    All friends online</label> 
                <!-- <div flex></div> -->
                <a href='/profile/friends'  ng-click='cancel()'><span class='glyphicon glyphicon-glyphicon glyphicon-list'></span>
                    View all here</a>
                
          </div>
   <div layout='row'>
        <md-input-container flex='100' class="md-icon-float  " style='margin-bottom:0px; border:0px solid;'>
      <label>Search username</label>
      <md-icon md-svg-src="img/svg/ic_account_circle_black_24px.svg" class="name"></md-icon>
      <input ng-model="inputPlayUsername" ng-init="inputPlayUsername=''" type="text" >
        </md-input-container>
 
    </div>


     <div  layout='row' layout-wrap style='overflow:scroll; overflow-x: hidden;' >
         <md-list-item class="clickCard" layout-wrap style='border:0px solid;' layout-align='center center'>
    
        <md-card   ng-repeat="item in friendsData" ng-if=
        "busyList.indexOf(item._id.toString())<0 && onlineList.indexOf(item._id.toString())>-1 && item.username.indexOf(inputPlayUsername.toString())>-1"
         ng-click='inviteDialog(item)'
         class="md-whiteframe-5dp"  flex="30"  layout >
         <table style='border:0px solid; table-layout:fixed;'>
                        <tr>
                        <td rowspan='2'>  <img src="{{item.user_avatar}}"  style='width:45px; height:45px; border:0px solid #d8d8d8; padding:5px;'></img>
                         </td>
                        <td><font style='font-size:20px; color:#6e6e6e'>{{item.username}}</font> 
                            
                        </td>
                        </tr>
                        <tr>
                            <td><font style='font-size:13px; color:#6E6E6E;'>
                                         {{item.user_country}}
                                </font></td>
                               
                        </tr>
                    </table>
                    <span flex></span>
                    <svg width="25" height="25" style='padding-top:0px;'>
                               <circle cx="12.5" cy="12.5" r="5"   fill="LightGreen" />
                      </svg> 

        </md-card>


  
    </md-list-item>
      <!-- <div flex></div> -->
          
        <!-- <div flex></div> -->
   
   </div>

    <i align='center' >If you have no friends online, click <a href='/invite' ng-click='cancel()'>here</a> to invite others!</i>




  </md-dialog>
    </div>

            <!-- online friends dialog -end  -->




<!-- help dialog -->
    <style>
    .animate-switch-container {
          position:relative;
        
        
         height:350px;
          overflow:hidden;
          padding:30px;
          padding-top:10px;
        }

        .animate-switch {
           /* padding:30px;*/
            border:1px solid #000000;
          height:350px;
        }

        .animate-switch.ng-animate {
          transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
        }

        .animate-switch.ng-leave.ng-leave-active,
        .animate-switch.ng-enter {
          top:-50px;
        }
        .animate-switch.ng-leave,
        .animate-switch.ng-enter.ng-enter-active {
          top:0;
        }
    </style>
       <div class="md-dialog-container lg-modal" id="helpDialog" style='top:0px;'>
          <md-dialog  layout-padding style=' width:600px; border:0px solid; background-color:#2E2E2E; padding:10px; color:#ffffff; 
             '  >
                
            <div layout='row' >
             
        

             <span id="" style='padding-left:20px;  
              font-size:20px; border:0px solid #ffffff; position:relative;   font-family:"Comic Sans MS", cursive, sans-serif;' > 
                        <span class='glyphicon glyphicon-question-sign'></span> Help</span>
                    <div class='col-xs-8' style='border:0px solid #ffffff;'>
                            <div class='col-xs-5' style='border:0px solid;' align='right'>
                                <button ng-disabled="modalPage === 1?true:false"ng-click='modalBack()' class='btn btn-default' style='' > &#9668; </button>
                            </div>
                             <div class='col-xs-2' style='border:0px solid; color:#ffffff'>
                                <h4 id='pagination'>{{modalPage}}/6</h4>
                            </div>
                            <div class='col-xs-5' style='border:0px solid;'>
                                <button ng-click="modalNext()" class='btn btn-default' style=''>  &#9658;</button>
                            </div>
                    </div>
                    <div flex></div>
<span type="button" ng-click='cancel()'class="close" style='' data-dismiss="modal" aria-label="Close"><span 
            style='color:#ffffff; font-size:25px;' >&times;</span></span>
            </div>

        <div ng-switch on="modalPage"    class="animate-switch-container" style=' overflow-y:auto; margin:0px; background-color:#ffffff'>
                    <div class='row'  class="animate-switch" ng-switch-when="1"style="background-color:#ffffff; border:0px solid;  padding-top:0px; color:#000000;"  >
                        <div  class='row' align='center'>
                          <img src='img/lpu.png' style='width:225px; height:225px;' />

                        </div>
                        <div class='row' align='center'>
                             <h2>Welcome to Rubik's Battle!</h2>
                        </div>
                        <div class='row' align='center' >
                           C'mon, let's play Rubik's cube together!
                        </div>
                                     
                                        
                    </div>

                   <div class='row'  class="animate-switch" ng-switch-when="2"style="background-color:#ffffff; border:0px solid;   color:#000000;"  align='center'>
                            <h4> Choose game mode <span class='glyphicon glyphicon-tasks'></span></h4>
                            In <b>'Play'</b> tab, you can select the game mode whether single player, versus another player, or computer <br>
                            <br>
                            <img  class="md-whiteframe-8dp" src='img/gamemode.png' style='width:550px; height:200px'></img>
                                     
                                        
                    </div>

                    <div class='row'  class="animate-switch" ng-switch-when="3"style="background-color:#ffffff; border:0px solid;   color:#000000;"  align='center' >
                           <h4> Game request <span class='glyphicon glyphicon-tasks'></span></h4>
                            Once you select game, this dialog will pop up. <br>
                        
                            <table style='margin-bottom:7px; margin-top:1px;'>
                                <tr>
                                    <td rowspan='2'>
                                        <img  class="md-whiteframe-8dp" src='img/request.png' style='width:230; height:150'></img>
                                    </td>
                                    <td style='width:100px; padding-left:10px; '>
                                        <b>Cube type:</b>
                                    </td>
                                    <td style='padding:5px; font-size:14px;'>
                                         <You can change/specify <br> the cube type whether it is (3x3x3) or (2x2x2)
                                    </td>
                                </tr>
                                <tr>
                                    <td style='padding-left:10px;'>
                                        <b>Room type:</b>
                                    </td>
                                    <td style='padding:5px; font-size:14px;'>
                                        If you want some privacy, you can change the room to (Private) and set keyword/password of the room.
                                    </td>
                                </tr>
                            </table>
                            
                            <b>Note:</b> This may apply to <u>single player</u> and <u>versus computer</u> game mode.
                    </div> 
                       <div class='row'  class="animate-switch" ng-switch-when="4"style="background-color:#ffffff; border:0px solid;   color:#000000;"  align='center'>
                            <div align='left' style='margin-left:25px;'>
                                <table>
                                    <tr>
                                        <td rowspan='2'>
                                            <img c src='img/pvp.png' style='height:75px; width:100px;'>
                                            </img>
                                            </td>
                                        <td style='padding-left:10px;'>
                                            <h4> Battle (PvP) Player versus Player</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style='padding-left:10px;'>
                                            If you choose Battle PvP, just select friends who's online
                                            or direct invite by clicking <b>here</b> at the bottom
                                        </td>
                                    </tr>
                                </table><br>
                         
                            </div>
                            <div align='center'>
                                       <img class="md-whiteframe-8dp" src="/img/online1.png" style="height:200px; width:550px;"></img>
                            </div>
                      </div>


                     <div class='row'  class="animate-switch" ng-switch-when="5"style="background-color:#ffffff; border:0px solid;   color:#000000; "  align='center'>

                            <div align='left' style='margin-left:25px;'>
                                    <table>
                                        <tr>
                                            <td rowspan='2'>
                                                <img src='img/pvp.png' style='height:75px; width:100px;'>
                                                </img>
                                                </td>
                                            <td style='padding-left:10px;' rowspan='2'>
                                                <h4> Battle (PvP) Player versus Player</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style='padding-left:10px;'>
                                             
                                            </td>
                                        </tr>
                                    </table><br>
                             
                                </div>
                                <div align='center'>
                                  - For a <b>new user</b>, you can <b>add</b> other players from 'invite' tab<br> <br>
                          <img class="md-whiteframe-8dp" src='img/add.png' style='width:450px; height:150px'></img><br><br>
                          - Or by selecting the player and direct challenge to play<br><br>
                          <img class="md-whiteframe-8dp" src='img/direct5.png' style='width:450px; height:250px'></img>
                           
                                          
                                </div>
                       
                    </div>
                      <div class='row'  class="animate-switch" ng-switch-when="6"style="background-color:#ffffff; border:0px solid;   color:#000000;"  align='center'>
                            <h4> Profile <md-icon style='fill:black'  md-svg-src="/img/svg/ic_person_pin_black_24px.svg" aria-label="android "></md-icon></h4>
                            In <b>'profile'</b> tab, you can view your progress, friends, send messages and many more! <br>
                            <br>
                            <img class="md-whiteframe-8dp" src='img//help/profile.png' style='width:430px; height:200px'></img>
                                     
                                        
                    </div>
                         
                             
        
      
        </div>
      </md-dialog>
      </div>




<!-- help dialog  end-->

<!-- avatar dialog -->
 <div class="md-dialog-container lg-modal" id="avatarDialog" style=''>
          <md-dialog  layout-padding  style=' width:400px;' layout-align='center' >
          <md-toolbar style='padding:0px;'>
             <div class='md-toolbar-tools' style='background-color:#2e2e2e'>
                 <span flex></span>
              <span class='glyphicon glyphicon-tag'></span>
                  <span style='margin-left:10px'></span>Change avatar

                  <!-- <label style='font-size:14px'>All friends online</label> -->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-src="/img/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <div layout='row' flex style='border:0px solid;' layout-align='center'>
                <form ng-controller='imageCtrl as up' name="up.upload_form" style='width:100%; border:0px solid;'>
                                            <div id="image_preview" layout='row' style='border:0px solid;' >
                                                <div flex='50' style='border:0px solid;'>
                                                <img = style='width:160px; border:0px solid; height:160px; margin-bottom:10px;'  ngf-thumbnail="up.file || userInfo.user_avatar"/>
                                                </div>

                                                <div  flex='50' style=' border:0px solid;' >
                                                    <div style=" margin-bottom:20px;"><u>Maximum of 2 MB only</u></div>
                                                     <i ng-show="up.upload_form.file.$error.pattern">Only image file is required<br></i>
                                                     <i ng-show="up.upload_form.file.$error.maxSize"> File too large</i>    
                                                     {{progress}}
                                                </div>
                                            </div>
                                                
                                             
                                                <div id="selectImage" style='border:0px solid' flex='100' align='center'>
                                                
                                                <input  type="file" 
                                                    ngf-select
                                                    ng-model="up.file" 
                                                    name="file" 
                                                    ngf-pattern="'image/*'"
                                                    accept="image/*" 
                                                    ngf-max-size="2MB" 
                                                 
                                                     />
                                                                 
                                                 </div>
                    </form>
            </div>
            <div layout='row' layout-align='center'>
                    <md-button ng-click='updateAcct()' class='md-raised md-primary'>Update avatar</md-button>
            </div>

          </md-dialog>
  </div>

<!-- avatar dialog -end -->


<!-- edit acct -->
 <div class="md-dialog-container lg-modal" id="editDialog" style=''>
          <md-dialog  layout-padding  style=' width:400px;' layout-align='center' >
          <md-toolbar style='padding:0px;'>
             <div class='md-toolbar-tools' style='background-color:#2E2E2E;'>
                 <span flex></span>
              <span class='glyphicon glyphicon-wrench'></span>
                  <span style='margin-left:10px'></span>Edit Account
                  <!-- <label style='font-size:14px'>All friends online</label> -->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-src="/img/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <div layout='row' layout-wrap flex style='border:0px solid; margin:0px;' layout-align='center'>
                  

                  <div layout='row' layout-padding style='padding-bottom:0px; margin-bottom:0px; border:0px solid;'>
                   
                        
                         <div class="input-group input-group-md" ng-init="viewPass1 = false; viewPass2 = false; ">
                              <span class="input-group-addon" id="sizing-addon3">
                                 <md-icon ng-click="viewPass1 = !viewPass1;" md-svg-src="/img/svg/attachment-clip.svg" aria-label="Close dialog"></md-icon>
                              </span>
                              <input my-enter = "" ng-model="inputEmail" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon3">
                            </div>
                    
                   </div>
                 
            </div>
            <div layout='row' layout-align='center' style="border:0px solid; padding-top:0px;" >
                    <md-button ng-disabled="enableEmail" ng-click='updateEmail(inputEmail)' class='md-raised md-primary'>Update email</md-button>
            </div>
    <md-divider></md-divider>



                   <div layout='row' layout-padding style='padding-bottom:0px;'>
                   
                        
                         <div class="input-group input-group-md" ng-init="viewPass1 = false; viewPass2 = false; ">
                              <span class="input-group-addon" id="sizing-addon3">
                                 <md-icon ng-click="viewPass1 = !viewPass1;" md-svg-src="/img/svg/binoculars.svg" aria-label="Close dialog" style="fill:blue;"></md-icon>
                              </span>
                              <input my-enter = "updatePass(newPass,retypePass)"  ng-model = "newPass" type="{{viewPass1?'text':'password'}}" class="form-control" placeholder="New Password" aria-describedby="sizing-addon3">

                            </div>
                    
                   </div>
                   <div layout='row' layout-padding style='padding-top:0px;'>
               
                             <div class="input-group input-group-md">
                              <span class="input-group-addon" id="sizing-addon3" style="visibility:hidden;">
                                   <md-icon ng-click="viewPass2 = !viewPass2;" md-svg-src="" aria-label="Close dialog"></md-icon>
                              
                              </span>
                              <input  my-enter = "updatePass(newPass,retypePass)"  ng-model = "retypePass"  type="{{viewPass1?'text':'password'}}" class="form-control" placeholder="Retype New Password" aria-describedby="sizing-addon3">
                            
                   </div>
            </div>
            <div layout='row' layout-align='center' style="padding-top:0px;">
                    <md-button ng-disabled="enablePassword" ng-click='updatePass(newPass,retypePass)' class='md-raised md-primary'>Update password</md-button>
            </div>

          </md-dialog>
  </div>


<!-- edit acct end -->



</div>


       