					

				<div ng-include='"templates/top_template.html"' ></div>

					<div class="col-xs-3" style='border:0px solid;'>
						<div class='col-xs-12' style='border:0px solid; background-color:#FFFFFF; padding-left:0px;'>
						  						<center>
						  							<a href=''><img style='height:200px; width:200px; border:0px solid;' src='/img/user/userDefault.png'/></a>
						  						</center>
					  						</div>
					  						<div class='col-xs-12' style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
					  							<center><b><font style='font-size:25px'>"123</font></b><br>
					  							<b><font style='color:#6E6E6E'>jester</font><br></b>
					  							<span class='glyphicon glyphicon-home'></span> <font style='color:#6E6E6E'>"asdfasdf
					  						</font><br>
					  							</center>
					  						</div>
					  			<script> </script>
						
	  					
	  						<div class="col-xs-12" style='border:0px solid; background-color:#FFFFFF; margin-top:10px;'>
	  						
	  						 <span style='margin-right:10px;' class='glyphicon glyphicon-envelope'></span> <font style='color:#6E6E6E'><a href='/profile/messages'>Messages</a>
	  						 <span id='spanInboxCount' ></span></font><br>
	  						 <span style='margin-right:10px;' class='glyphicon glyphicon-cog'></span> <font style='color:#6E6E6E'><a href='/profile/edit'>Edit Profile</a></font><br>
	  								
	  						</div>
	  						 <div class="col-xs-12" style=' margin-top:10px;'></div>
					 
	  						
	  				</div>